[2020-10-27 12:47] okbel opened #2 "Modules for external providers"
# Modules for external providers

Right now, the code base is strictly coupled with data hooks providers. We need to enable the use of different providers interchangeably.

We’re discussing steps forward with @LFades to add different data sources to Next.js Commerce and make it super easy to switch data providers and even aggregate them.

---

## Goals of Commerce

- **Next.js Commerce** should ha

[2020-10-27 12:54] okbel opened #3 "[BUG] - Wishlist Button not working in the grid"

[2020-10-27 12:54] okbel opened #4 "[BUG] - BigCommerce Cart comes back empty"

[2020-10-27 12:56] okbel opened #5 "Add loading state for /wishlist when adding a new item."

[2020-10-27 15:44] okbel opened #6 "Accept Cookies functionality"

[2020-10-27 16:53] FanchGadjo opened #9 "Style: product title overlaps itself when line wraps"
Overall, amazing work, thank you ! 🎉

In the product card, when the h3 product title wraps the lines overlap. Bug or feature, it is up to you. 😉

![image](https://user-images.githubusercontent.com/9931779/97334209-c7153800-187c-11eb-94af-b558e0b2754d.png)

[2020-10-27 17:11] sanpanthera opened #10 "color swatches are not working"
On click of color swatch for any product. There are no changes

[2020-10-27 17:18] jaburx opened #12 "Missing optimistic updaters or a better UX on Mutations"
For example, when we delete an item from the cart here: https://demo.vercel.store/cart

Apps gets stuck/frozen instead of optimistically delete it like a facebook button like click.

Facebook does that by optimisticUpdater: https://relay.dev/docs/en/mutations

[2020-10-27 17:27] gr-qft opened #13 "Doc not mentioning environment variables"
When trying to run this locally

[code]

The needed environment variables are not mentioned anywhere in `README.md`. Please update.

[2020-10-27 17:54] leighs-hammer opened #14 "deploy to vercel failing with missing pages : Unhandled error"
Hi All, Awesome work!
I am getting an error which looks like its something unhandled, undefined etc etc.

`
Unhandled error during request: Error: Page with slug 'en-US/contact-us' not found
--
`

It appears that when doing an initial deploy on a new BigC store a bunch of page slugs may be failing out to request and as such failing deploy when following the 'clone & deploy' link off the https://ne

[2020-10-27 18:25] jasonbosco opened #16 "Integration with Typesense for Instant Search?"
Hello,

Thank you for putting this commerce starter kit together. At my previous role in an [ecommerce startup](https://www.verishop.com/), we used Next.js and we basically had to figure out most of these patterns and integrations ourselves. Something like this would have sped up our discovery and development process.  So I really appreciate your work!

I currently work on an open source alternati

[2020-10-27 19:28] FredvanRijswijk commented on #13
you can use in local development `vercel env pull .env.local`

[2020-10-27 20:01] jheyer159 opened #17 "Deployment failed"
Attempting to deploy a production site results in the following error.

Vercel app is installed on BigCommerce and Vercel bot is connected to my Github account.   Tried removing the apps and re-deploying, but hit the same issue.  BigCommerce subscription is active.

Is there something else that needs to be configured?

[2020-10-27 20:58] okbel opened #19 "Add docs/bigcommerce.md to clarify usage."

[2020-10-27 21:17] gr-qft commented on #13
@FredvanRijswijk  I never used vercel cli before and it took a while but it worked, thanks!

[2020-10-27 21:17] #13 closed

[2020-10-27 21:19] nsantos16 opened #21 "[BUG] - Total of the Cart not corresponds with the number of items"
In the cart section, the number of items doesn't alter the total sum of the purchase.
<img width="466" alt="Screen Shot 2020-10-27 at 18 14 10" src="https://user-images.githubusercontent.com/9642510/97362794-49532b80-1880-11eb-97bd-b0d55a837531.png">

Awesome work guys, I can take this issue if you want 😄

[2020-10-27 21:34] #19 closed

[2020-10-27 21:35] okbel commented on #19
Added a **Troubleshoot** section at README.md

[2020-10-27 21:37] okbel commented on #17
Hey Jeremy, we already reported BC Team about this. Have you tried running it locally just in case?

By adding, `.env.local`

[code]
Let me know!

[2020-10-27 21:38] okbel opened #22 "Color/Size Swatches should change displayed image"

[2020-10-27 21:43] #5 closed

[2020-10-27 22:47] marbiano commented on #6
@okbel did you start working on this one? If not, I'll take care of it.

[2020-10-27 22:50] gr-qft opened #23 "Cannot find name `AppProps`"
I have a local copy and localhost is running but inside `_app.tsx` there's a couple of warnings about using `AppProps` (**Cannot find name `AppProps`**)

[2020-10-27 22:56] gr-qft opened #24 "Sign-up is not working"
Whatever email and password given when signing-up, there's always the error message about passwords must be greater than 7 characters with at least a numeric character. It seems to me authentication is not fully implemented yet?

[2020-10-27 23:01] nicksarafa opened #25 "Does this work with Shopify?"
If so, what's the setup process? I only see BigCommerce mentioned in the documentation

Thanks! And congrats on the push!

[2020-10-27 23:32] nsantos16 commented on #22
I can take this @okbel 😄

[2020-10-28 01:04] jheyer159 commented on #17
Ran `vercel env pull .env.local` - the file looks like the one above.
`yarn dev` -> opening `localhost:3000` still seeing the same error locally.

I noticed that the Vercel integration was showing as 'inactive' in the Channel Manager on BigCommerce.  I've tried toggling it to active, it disappears, but it doesn't change the error.

[2020-10-28 01:38] a-eid commented on #25
it seems that this project was done in collaboration with BigCommerce, but I'd like to see if there are other options other than using BigCommerce.

[2020-10-28 02:16] buty619 opened #26 "[BUG] log in and Sign Up always return error"
### For Sign Up
* on local and in the deployed page when I try to make a sing up always get `An unexpected error ocurred` and the logs says `Error: Internal server error at FetcherError.CommerceError [as constructor]` but then in the `mybigcommerce` i can see the user created as expected

### For Log In

* on local and in the deployed page  always return `An unexpected error ocurred. Did you forgo

[2020-10-28 02:23] buty619 opened #27 "[BUG] title on check out page returns to mybigcommerce Storefronts page"
## Description

when i'm on the checkout page from mybigcommerce if i click the title of the page they re directs me to the Storefronts page from mybigcommerce, how i can change that url so only re directs to nextjs commerce page ?

### Check Out Page

<img width="1440" alt="Screen Shot 2020-10-27 at 9 21 19 PM" src="https://user-images.githubusercontent.com/36422189/97382982-87f5df80-189a-11eb-9d

[2020-10-28 03:09] buty619 opened #29 "[ISSUE] can't add products to cart"
## Description

* On my local all actions related to mybigcommerce (for example add to cart) always return Error `[BigcommerceApiError]: Big Commerce API error (404)`, maybe im missing some configuration?

## Img

<img width="1245" alt="Screen Shot 2020-10-27 at 10 08 09 PM" src="https://user-images.githubusercontent.com/36422189/97386017-f047bf80-18a0-11eb-9fb3-24372666904c.png">

[2020-10-28 03:10] prateekkarki commented on #14
I am experiencing a similar issue. In my case it says
[code]

Here's the stack trace if it helps:
![image](https://user-images.githubusercontent.com/8191488/97385991-fff3f200-18fa-11eb-9370-51db8fbd1b41.png)

[2020-10-28 03:50] enarankhuu opened #30 "env file"
Which text insert into .env.local? I dunno

[2020-10-28 03:52] enarankhuu commented on #29
Hey, I wanna show your .env.local file. I dunno which env file to use!!

[2020-10-28 03:53] techrangle commented on #30
Add these lines but i am trying to find store front api url and store front api token.

[code]

[2020-10-28 03:53] techrangle commented on #30
save this in .env.local file on the root project.

[2020-10-28 05:13] chandan-reddy-k opened #32 "Improve lighthouse score / page speed insights scores"
https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fdemo.vercel.store%2F&tab=mobile

The scores are not up to the mark. Is everyone seeing the same score of around 50-60? 😅

![Screenshot 2020-10-28 at 10 40 39 AM](https://user-images.githubusercontent.com/43699825/97395108-2ec59480-190a-11eb-907c-c19f409b075b.png)
![Screenshot 2020-10-28 at 10 40 48 AM](https://user-images.gi

[2020-10-28 06:29] agcty commented on #25
I'm also really curious when the shopify integration will land, right now it seems that only bigcommerce is supported but other integrations will follow soon (there's some really small text on next.js/commerce saying other integrations will follow soon).

[2020-10-28 08:08] FredvanRijswijk commented on #30
If you use the vercel cli you can use this `vercel env pull .env.local` super easy and the right keys at once

[2020-10-28 08:23] FredvanRijswijk commented on #14
You can change the url in BigCommerce `/en-US/shipping-returns` and `/en-US/contact` also do this for /es/ if you want the demo without code changes of locals, also need to do is disable `blog` in BigCommerce for the demo store to work

[2020-10-28 08:27] lukebennett88 opened #34 "Consider porting to JavaScript"
Learning TypeScript is a large barrier to entry for a lot of developers (myself included).

This project seems like a great example of best practices for a Next.js/e-commerce site (I was planning to use it as the basis for a headless Shopify store as someone coming from Gatsby) I think it would be useful to a lot more people if it was in JavaScript rather than TypeScript.

[2020-10-28 08:35] matigda commented on #32
Right now I'm getting around 78 on mobile. Yesterday I got higher results.

[2020-10-28 08:42] dougwithseismic commented on #34
+1 Won't be touching this until (if) I find an interest in TypeScript.

[2020-10-28 08:49] dougwithseismic commented on #34
+1 it's a great project skeleton but there's actually very little that actually needs TS here.

[2020-10-28 09:56] maartenjongerius commented on #25
I'm interested in this as well, and willing to contribute. Our company is planning on using this for Shopify projects as soon as it's possible. Who do I contact to contribute on this?

[2020-10-28 10:41] muhaimincs opened #35 "Typo"
Typo in https://nextjs.org/commerce : Instead of File-Sytem Routing it should be File-System Routing.

(By the way, unfortunately the boxes on this page are not selectable to copy&paste text.)

[2020-10-28 10:55] nicksarafa commented on #25
@maartenjongerius yes, we would also be open to contributing to a Shopify fork

[2020-10-28 11:01] that-coder opened #37 "better to keep product slug as domain.com/slug/p"
It is better for SEO to create a URL in a format like above. Also, some sites will follow a pattern like, domain/slug/p/id
the slug entry may same for multiple products but id may differ.

[2020-10-28 13:22] #30 closed

[2020-10-28 13:26] okbel commented on #35
Thank you! Fixed.

[2020-10-28 13:26] #35 closed

[2020-10-28 13:27] okbel commented on #37
Do you have any sources about this that we can read?

[2020-10-28 13:36] okbel commented on #34
Interesting. Let's elaborate here.

There's two sides of the coin here. We can remove TypeScript but we'll have to add a lot of helpers/handlers because of the risk of a dynamic and not statically typed language (JavaScript).

When building products at scale, you can't always 👮‍♀️  everyone to use Components well and to -not-add- technical debt. TS types are incredibly helpful in that realm. You c

[2020-10-28 13:38] okbel commented on #34
Closing this for now, but open to reconsider keeping a branch updated just in JS.

[2020-10-28 13:38] #34 closed

[2020-10-28 13:41] okbel commented on #29
.env.template was added! Keep in mind that this is tightly coupled with BigCommerce so you'll need env vars to run it locally.

[2020-10-28 13:41] #29 closed

[2020-10-28 13:42] okbel commented on #25
https://github.com/vercel/commerce/issues/2

Absolutely. We're currently working on it. Stay tuned for that PR.

[2020-10-28 13:42] #25 closed

[2020-10-28 13:43] okbel commented on #24
We just added an .env.template. Have you tried that? LMK!

[2020-10-28 13:45] okbel commented on #27
We'll send this to BigCommerce right now. Thank you! I'll keep you posted.

[2020-10-28 13:50] okbel commented on #26
Did you set the env vars right? We just merged .env.template. LMK!

[2020-10-28 13:52] leerob commented on #2
Another thought: Could we package the front-end somehow so existing Commerce users can get bug fixes pushed?

https://twitter.com/PrevostClemToun/status/1321387261511028743

[2020-10-28 13:53] okbel commented on #21
LOL. haha yes! If you'd like this would be a good first pr (:

[2020-10-28 13:53] leerob commented on #32
Let's check Next.js Analytics for a more true test of speed (not synthetic scores) 🔥

[2020-10-28 13:54] leerob commented on #32
![image](https://user-images.githubusercontent.com/9113740/97445347-29148280-18fb-11eb-8ba9-6e874c454d58.png)
🎉🎉🎉

[2020-10-28 14:00] michaelbromley commented on #2
@leerob my 2 cents: I think it is _far_ preferable to package the project for distribution via npm. Relying on forking becomes utterly painful when big changes are made to the fork and upstream too, and then the user is left trying to merge and get it right - not a nice experience!

Of course then there is the problem that an npm package is _not_ a storefront. So there still needs to be some "scaf

[2020-10-28 14:11] chandan-reddy-k commented on #32
@leerob sorry I’m confused now. Isn’t page speed insights the correct measure for web vitals?

I know the lighthouse test in chrome dev tools differs from device to device but https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fdemo.vercel.store%2F&tab=mobile should return same results anywhere in the world irrespective of the device being tested on right? 🤔

And isn’t Vercel

[2020-10-28 14:19] pawelphilipczyk opened #38 "Improve documentation on local env setup"
I've deployed my next.js commerce based project and cloned it.
I can see that all env values in Vercel dashboard are set and encrypted.
Then I generated my store api account in BigCommerce and I got all values except for `BIGCOMMERCE_STOREFRONT_API_TOKEN` (which is not the same thing as `BIGCOMMERCE_STORE_API_TOKEN`).

I can see in BigCommerce api docs I could generate storefront api token with po

[2020-10-28 14:39] madchester commented on #38
maybe this will help [#13](https://github.com/vercel/commerce/issues/13)

[2020-10-28 14:50] madchester commented on #32
Same here issue is reproducible.
I got a score of 65 on Desktop based from the vercel analytics.

<img width="1027" alt="vercel-analytics" src="https://user-images.githubusercontent.com/7464673/97452532-cd381100-196f-11eb-8eba-1c7164a03638.png">

Is it because of the template?  🤔

[2020-10-28 15:20] aevaldas commented on #6
Seems like this one is already done on https://demo.vercel.store/:
![image](https://user-images.githubusercontent.com/38099310/97456824-df9b5600-1941-11eb-8a1d-c5e80f02ef0e.png)

[2020-10-28 16:38] that-coder commented on #37
In my personal experience, we got better ranking and more traffic generated throughthese kind of URL making

For reference see how Flipkart is doing

https://www.flipkart.com/samsung-galaxy-max-gold-32-gb/p/itmevakgf8gmvyte?pid=MOBEV7YDBCAFG3ZH&srno=b_1_2&otracker=browse&lid=LSTMOBEV7YDBCAFG3ZH5FUOXG&iid=4a09db74-d220-409a-9714-cb0b5fc55e1b.MOBEV7YDBCAFG3ZH.SEARCH

At the same time you won't see t

[2020-10-28 17:16] marbiano commented on #6
@aevaldas if you click on Accept and then reload the page, you'll see the banner again. It should disappear for good once it's been accepted.

@okbel I'll take care of this one if you don't mind.

[2020-10-28 17:19] buty619 commented on #26
yes i set it whit the vercel shell and making `vercel env pull` but is set as usual .env, so i don't have the error asking for the env vars on my local, also @okbel  thanks for answering ¡¡

[2020-10-28 17:24] buty619 commented on #21
@okbel  @nsantos16  hehe nice job also i see that we have an issue whit the selection of the different options for example if you chose different color or size you always gonna see on the cart the first one selection, is that expected? or if you select a different characteristics of the same item it should be a different element on the cart list?

[2020-10-28 17:54] SalahAdDin commented on #32
I got even worst:
![image](https://user-images.githubusercontent.com/5034215/97476517-880be300-195f-11eb-9c58-19ac19413f3b.png)
![image](https://user-images.githubusercontent.com/5034215/97476639-b2f63700-195f-11eb-8c4f-d5545b0c0f6b.png)

But all is okay with desktop tests.

[2020-10-28 18:51] LB22 commented on #13
Can you explain how you did it? I installed vercel with yarn and tried the command that @FredvanRijswijk mentioned but no success.

I second that there should be documentation.

[2020-10-28 19:13] jpatters opened #39 "How do I get this running?"
I have been unable to get this running locally or on Vercel.
Locally, it tells me that there are a number of environment variables required from Big Commerce. So I signed up for an account and tried to create an API key. There are two different types of API keys in Big Commerce and neither of them produce the number of values or values with the same names as the ones required in this repo. So that

[2020-10-28 20:21] alexbs commented on #37
or even like this: domain/slug/p{id}
If the slug changes, it is possible to throw a 301 redirect to a new slug

[2020-10-28 20:28] okbel commented on #32
Thank you all for the feedback. We're currently tracking a bug here: https://github.com/vercel/next.js/issues/18416
This could possibly be the one to blame, *fingers crossed*

[2020-10-28 20:33] gr-qft commented on #24
@okbel I still have not been able to sign up, still seeing the same message (my password surely is longer than 7 chars and includes numbers).

[2020-10-28 20:35] gr-qft commented on #13
You deploy it on vercel. Then download vercel cli, make a link, and you will be able to pull the env file. True, there's documentation on vercel cli which should be consulted.

[2020-10-28 21:16] hoektoe commented on #2
Would be great to support shopify also like Gatsby but better since it's nextjs

[2020-10-28 22:02] pawelphilipczyk commented on #38
Thanks, it worked! I guess this is a piece of cake for someone familiar with Vercel CLI.

Do you know where do those generated values live? I do not see this client anywhere in my BigCommerce dashboard.
This is a bit (too) magical.

[2020-10-28 22:17] buty619 commented on #29
hello @okbel  thanks for all you help but im still having same issue i already create the .ev.local file whit the key get from versel, there is something else im missing? maybe local env should be different to the once generate on versel?

<img width="1263" alt="Screen Shot 2020-10-28 at 5 13 42 PM" src="https://user-images.githubusercontent.com/36422189/97502588-6a2f8580-1941-11eb-8488-463e481470

[2020-10-28 23:25] FanchGadjo commented on #9
Solved by PR #20 .

[2020-10-28 23:25] #9 closed

[2020-10-28 23:32] Clausinho commented on #2
I've seen a lot of support for shopify, but are there any plans for woocommerce or is it simply not economically viable?

[2020-10-29 01:19] SVronskiy opened #40 "Error "502: BAD_GATEWAY" on Nextjs vercel site"
Open https://nextjs.org/commerce and click "Clone & Deploy"

Click Continue with default project name

Click Install to Connect a BigCommerce Store to your Vercel Project

Get error:

[code]

BTW. link "check the logs" returns 404 error.

Created the same bug in [BigCommerce Q&A](https://support.bigcommerce.com/s/question/0D54O00006f05edSAA/error-502-badgateway-on-nextjs-vercel-site)

[2020-10-29 12:54] thesobercoder commented on #39
Also for anyone willing to contribute, making it mandatory to sign up BigCommerce may actually discourage potential contributors.

[2020-10-29 15:38] jerrylopez commented on #2
I would love to work on a Magento provider. Is there other conversations happening outside of this issue regarding external providers?

[2020-10-29 16:48] robbieaverill commented on #26
I just noticed this on demo.vercel.store too - is the login API supposed to return a 500 when I put an invalid username/password in? Seems like a 40x would be better.

[2020-10-29 16:52] robbieaverill commented on #2
I'm also keen to build in support for other eCommerce APIs. Two things are stopping me right now: 1) there's no license on this repository, 2) there's no checkout. Having an external checkout is pretty jarring from a UX perspective, and kind of antiquated in my opinion. The value of jamstack is having everything be headless and API driven, which 50% of this project is not.

I imagine adding a chec

[2020-10-29 16:56] robbieaverill opened #43 "Bug: switching languages does not update currency locale format"
Steps to reproduce:

* Go to https://demo.vercel.store/search?q=accessories
* Scroll to bottom, change English to Español
* Notice things update, but price formats remain in US locale
* Refresh the page
* Notice price formats are now shown in Spanish locale format

Expected: locale formats should update with the rest of the DOM repaint, rather than requiring a page refresh

[2020-10-29 16:57] robbieaverill opened #44 "Bug: PDP page doesn't format prices correctly"
See https://demo.vercel.store/product/next-js-short-sleeve-unisex-t-shirt

The price is 13.50 USD, but it's rendered as 13.5 USD. Should be 13.50 USD.

![image](https://user-images.githubusercontent.com/5170590/97606506-18ccd800-19cd-11eb-95a6-f9f701449f9c.png)

[2020-10-29 16:58] robbieaverill opened #45 "Bug: PDP page doesn't render prices formatted for the current locale"
Similar to https://github.com/vercel/commerce/issues/44

When you switch to Spanish (bottom right) the prices should be displayed in Spanish locale format, e.g. `13,50 US`. They remain unformatted.

Would probably be fixed by fixing https://github.com/vercel/commerce/issues/44.

[2020-10-29 16:59] robbieaverill opened #46 "Bug: Prompt to accept cookie use is not remembered"
![image](https://user-images.githubusercontent.com/5170590/97606712-56316580-19cd-11eb-9682-2b72000a7bb6.png)

Confirmation of cookie use should be remembered (with a cookie presumably), but it continues to show up every time you refresh the page.

[2020-10-30 00:47] bntzio commented on #44
Fixed on #47

[2020-10-30 00:52] robbieaverill commented on #44
Nice, thanks @bntzio

[2020-10-30 00:52] #44 closed

[2020-10-30 00:52] robbieaverill commented on #45
Update after #47 was merged:
![image](https://user-images.githubusercontent.com/5170590/97647464-8f8ac500-1a0f-11eb-83d6-04ee16634452.png)

Still some bugs here

[2020-10-30 07:06] vindecodex commented on #3
@okbel hello, i would like to grab this issue, but can i ask if how to get `.env.local variables` ?

[2020-10-30 09:37] r3tard3dd opened #50 "Error [BigcommerceApiError]: Big Commerce API error (401)"
I am getting this error while deploying the new NextJs Commerce.
_

Error [BigcommerceApiError]: Big Commerce API error (401)
--

_

![image](https://user-images.githubusercontent.com/40411728/97689390-c4dcf480-1a9b-11eb-9dd9-b87dca01be48.png)

[2020-10-30 11:00] emilkowalski opened #51 "Enviroment variables"
I am working with bigcommerce for the first time. I keep getting errors with the enviroment variables. Does anyone have a quickstart for bigcommerce or any hints on how to get this thing running?

[2020-10-30 11:38] frannunezrivera commented on #24
I'm having this problem too:
@gr-qft  if you check in the bigcommerce - customers panel you will see your user has been created. I believe the problem is when logging in. (in this case probable after user is being created)

@okbel The sign-in hook is returning invalid credentials (error 400 : bad request) but the API request is returning an error 500. POST http://localhost:3000/api/bigcommerce/cus

[2020-10-30 11:40] frannunezrivera commented on #51
Please take a look at already opened/closed issues before opening a new one about the same thing.

I this case:
https://github.com/vercel/commerce/issues/30

[2020-10-30 14:18] Strutsagget commented on #30
Hi
Where can I find these settings?

BIGCOMMERCE_STOREFRONT_API_URL=
BIGCOMMERCE_STOREFRONT_API_TOKEN=
BIGCOMMERCE_STORE_API_URL=
BIGCOMMERCE_STORE_API_TOKEN=
BIGCOMMERCE_STORE_API_CLIENT_ID=

After creating an API user I get a file with:
ACCESS TOKEN:
CLIENT ID:
CLIENT SECRET:
NAME:
API PATH:

adding the API path as both URLs, token as both tokens and id as id does not seem to work as the applica

[2020-10-30 14:18] alexduros commented on #50
Experienced it also. It seems that the API keys are not properly created on BigCommerce side.
In my use case, it was a completely new BigCommerce account and website and I can see after seeing the failed build that there is nothing in my BigCommerce admin panel available (sorry, I'm french - and confiné 😄 )

![Screen Shot 2020-10-30 at 15 16 32](https://user-images.githubusercontent.com/629642/977

[2020-10-30 16:18] Rando1993 commented on #30
https:>UI_+_bot+link_//api_run

[2020-10-30 16:45] techrangle commented on #30
You just need to find these values from bigcommerce there are two options one is stencil and api token under advanced settings in big commerce dashboard copy from there and set values here then it works

[2020-10-30 16:46] techrangle commented on #30
ACCESS TOKEN: is BIGCOMMERCE_STORE_API_TOKEN

[2020-10-30 16:48] techrangle commented on #30
The store front api and url you will get from stencil that means front end api under advanced settings get api token dropdown.

[2020-10-30 19:39] jerrylopez commented on #46
@robbieaverill Looks like this one is being worked on or will be worked in #6

[2020-10-30 20:21] agustif commented on #2
Stripe Checkout is a nice hosted solution, there's already examples with next https://github.com/stripe-samples/nextjs-typescript-react-stripe-js

[2020-10-30 20:22] #46 closed

[2020-10-30 20:51] marbiano commented on #46
@robbieaverill https://github.com/vercel/commerce/pull/52

[2020-10-30 21:50] nico-bachner opened #53 "Cookie Pop-Up not properly disappearing"
The Accept/Reject Cookies prompt doesn't completely disappear from the page when clicked, but rather gets pushed below the bottom of the page. Generally, this would essentially make it invisible, but when scrolling against the bottom, the bounce effect of the browser reveals the prompt

**Fix suggestions:**

1. Add opacity fade to onclick transition (probably the better option)
2. Setting global C

[2020-10-30 22:26] marbiano commented on #53
@nico-bachner https://github.com/vercel/commerce/pull/52

[2020-10-30 22:27] marbiano commented on #53
I'll take a look at the styling part since I'm there :)

[2020-10-30 22:28] nico-bachner commented on #53
Perfect. Thank you!

[2020-10-31 00:04] alexduros commented on #50
Seems to be solved now 💪  (after recreating it from scratch).
However, I guess that the API Keys created BigCommerce are Legacy API Keys which are not visible now in BigCommerce admin panel, so it's a bit a strange / magical to have BigCommerce API Keys created by vercel commerce for you from your BigCommerce instance... but not visible in this same instance 🤔

[2020-10-31 11:17] r3tard3dd commented on #50
@alexduros did you try recreating it so many times ? because when I do it, it works sometimes, and sometimes no.
please let me know if you are having the same trouble.

[2020-10-31 13:36] alexduros commented on #50
@r3tard3dd  No to be honest, I just retried once after I get noticed that [it has been fixed](https://twitter.com/notquiteleo/status/1322238563090636801) Maybe @okbel can help on that 😉.
I completely removed both vercel project and github repo before retrying. (because I kept the same name)

[2020-10-31 20:48] ikoruk opened #55 "UnhandledPromiseRejectionWarning on first deploy"
When running clone+deploy, I get weird message about my _Web Pages_ not including a locale (which I don't see any way of changing on the admin interface). And then there is an UnhandledPromiseRejectionWarning with a TypeError which causes the deploy to fail.

<img width="1014" alt="Screen Shot 2020-10-31 at 21 42 25" src="https://user-images.githubusercontent.com/316607/97789708-d66cec00-1bc2-11eb

[2020-11-01 10:00] r3tard3dd commented on #50
@alexduros Apparently [it's been fixed](https://twitter.com/notquiteleo/status/1322238563090636801), thank you.

[2020-11-01 10:00] #50 closed

[2020-11-01 14:10] roomco-dev opened #58 "OWN API INSTEAD OF BIGCOMMERCE"
Hi,

Can I use my own api for login and products instead of BIGCOMMERCE?

Thanks

[2020-11-01 14:51] jerrylopez commented on #58
@roomco-dev

Yup you can, but in its current state you will need to do the heavy lifting of coding that out yourself. There's talks and seems like work may have started on building modules for other providers in #2. You can take a look here to see how they are integrating BigCommerce: https://github.com/vercel/commerce/tree/master/pages/api/bigcommerce

Out of curiosity, what platform are you usin

[2020-11-01 15:29] RayeEThompson commented on #51
@emilkowalski you can always look at developer.bigcommerce.com as well. The .env supports secrets for both Storefront GraphQL API and Storefront REST APIs.

[2020-11-01 15:34] RayeEThompson commented on #38
You can see API token values or generate them in your [BigCommerce Control Panel](https://developer.bigcommerce.com/api-docs/storefront/graphql/graphql-storefront-api-overview#accessing-the-graphql-playground) you can find out how to do this here.

[2020-11-01 20:01] singhsimranjeetg opened #59 "Could not find docs or tutorials."
Hi,

I am looking forward to use vercel/commerce for my clients' Shopify stores once its supported. Meantime, I would like to learn how API's and components works in this project so it will be easier to customize later on. Unfortunately, I couldn't find any docs or tutorial for that. Please share if someone knows any resources.

Thank you

[2020-11-02 06:00] roomco-dev commented on #58
Thank you for your great answer.

I have custom platform built in PHP.
I want to use PHP Laravel Framework API for Backend.

[2020-11-02 06:39] Rando1993 commented on #30
_1+13_+[Data]>_com_droid_httph://***+access=rum+HTML*+downloading droid_device{148+mb}°=
Access_™granted_//UI*+=loading_//infu_+device🦇🔯∆=//@_@@@_@_@_@_@_@_@+++++___>>>>>_copy paste___+////🔯✡️☯️🎭_1.2.3.4_+(data)+_com_droid.//access cam_+droid+space data_+download [>lost date+of+the+device_//droid access_granted_//UI-+granted*_+//start

[2020-11-02 08:30] Strutsagget commented on #30
Hi and thank you for helping.

What do you mean with stencil? I cant find anything named stencil in the big commerce dashboard.
Also API seemed to be changed as you now make API users and those get the file I mentioned earlier.

Could you elaborate with what is the different meaning of STORE and STOREFRONT and where do I find API and token for each of them them?

[2020-11-02 09:39] KasiaSmolarska commented on #30
Hi. I need some help. I linked my project by `vercel link` and still `vercel env pull .env.local`  generates an empty env.local file.

Do I need to do anything else to make it work?

[2020-11-02 13:21] matigda opened #60 "css not working on production build"
Hi there!

I took this front and hooked magento on top of the UI you provided. Everything works fine on development, as given below:
![Zrzut ekranu z 2020-11-02 14-16-25](https://user-images.githubusercontent.com/5388804/97872252-07116a80-1d16-11eb-9480-a5fe7a42b96c.png)

but when I made production build, it looks like that:
![Zrzut ekranu z 2020-11-02 14-17-45](https://user-images.githubuserconte

[2020-11-02 13:55] #60 closed

[2020-11-02 18:57] okbel commented on #59
Hi Simranjeet,

We're currently working on documenting the UI, data hooks, and more.

Thanks for the feedback!

Stay tuned for more updates

[2020-11-02 18:57] #59 closed

[2020-11-02 18:58] okbel commented on #58
Wonderful! Thank you both. We're currently working on supporting multiple data providers. Stay tuned for updates!

[2020-11-02 18:58] #58 closed

[2020-11-02 18:59] okbel commented on #55
Hi @ikoruk !

Could you retry it and let us know? We had some issues last week with @bigcommerce API and I'd like to check if those are related or not.

Thank you!

[2020-11-02 19:00] okbel commented on #53
PR Coming! Thank you!

[2020-11-02 19:00] #53 closed

[2020-11-02 19:02] okbel commented on #51
Please, check the README file that we added documentation on how to proceed. Thank you!

[2020-11-02 19:02] #51 closed

[2020-11-02 19:03] okbel commented on #45
We currently don't support multy-currency. It's in our roadmap but notice that the exchange can be handled by the Bank/Credit Card

[2020-11-02 19:03] #45 closed

[2020-11-02 19:08] robbieaverill commented on #45
My mistake, I was just following the UI and noticed that it was broken. Perhaps you should remove the ability to localise currency from this demo store if it's not a supported feature?

[2020-11-02 19:33] okbel commented on #43
We currently don't support multi-currency. Please, open one issue per topic.
It's in our roadmap! Thank you.

[2020-11-02 19:33] #43 closed

[2020-11-02 19:34] okbel commented on #40
Hi @SVronskiy ! Could you retry? We noticed issues with BigCommerce API last week, we were wondering if that was the case for this. Thank you! LKM!

[2020-11-02 19:36] robbieaverill commented on #43
Thanks for the reply. As far as I can tell from the UI and the demo store data, it's a single currency but formatted in different locale. Perhaps you should revert #47 and/or remove all locale formatting of prices altogether to remove confusion if you do not wish to support it.

[2020-11-02 19:38] okbel commented on #39
Hey @jpatters! I'm sorry you struggled to much to get this working! We updated our README a couple of days ago. Have you tried that? Pulling the env vars? LMK! And thanks for the feedback!

@thesobercoder We're currently working on supporting more data providers so stay tuned!

[2020-11-02 19:39] okbel commented on #38
@pawelphilipczyk ! Those are part of Vercel<>BigCommerce integration - As soon as you pull those env vars, you are ready to go. 😌

We updated our README! And more docs coming soon! Thank you!

[2020-11-02 19:39] #38 closed

[2020-11-02 19:40] #23 closed

[2020-11-02 19:40] #37 closed

[2020-11-02 19:42] okbel commented on #17
Any updates here? Do you have the same issue now? We updated our README - So if you deployed and integrated with Vercel then you should be able to pull the env vars. I'll recommend to erase all and start fresh if you still can't make it work. LMK!

[2020-11-02 19:42] okbel commented on #14
Looks like PR solve this issue!

[2020-11-02 19:42] #14 closed

[2020-11-02 19:43] okbel commented on #10
Duplicate. We have an issue for that! Thank you!

[2020-11-02 19:43] #10 closed

[2020-11-03 01:05] gr-qft commented on #23
I'd really appreciate it if a comment is given. I still don't know what to do. Thanks!

[2020-11-03 01:38] SVronskiy commented on #40
Hello, @okbel !

Now it works! I'm getting two factor authenticationm form instead of error on bigcommerce site and can complete installation and get to the site preview.
Thank you!

[2020-11-03 01:38] #40 closed

[2020-11-03 15:17] mamal72 commented on #12
I was thinking about this when I tried changing (removing) some items from the cart sidebar view. I was going to create an issue but searched first and found it here.

I'd like to work on this. I'm not sure about the starting point but I believe it should be related to these two hooks used [here](https://github.com/vercel/commerce/blob/master/components/cart/CartSidebarView/CartSidebarView.tsx#L7)

[2020-11-03 15:21] mamal72 commented on #12
Oh. I think the hooks used in [this file](https://github.com/vercel/commerce/blob/master/components/cart/CartItem/CartItem.tsx) are the ones to update.

[2020-11-03 19:33] okbel commented on #40
Woohoo! Thanks for letting me know!

[2020-11-03 19:35] okbel commented on #23
This error looks rather odd because the only place we use AppProps is at _app.tsx with
import type { AppProps } from 'next/app'

I'd recommend start fresh, delete folder, again, pull env vars and run yarn. Let me know!! Sorry for closing that earlier

[2020-11-03 19:38] okbel commented on #24
@gr-qft What data are you giving to sign up?
And yes, auth has been implemented. Try https://demo.vercel.store to check it out live.

Yeah, @frannunezrivera it's using those hooks so I think it may be masking some errors with the password lengths and criteria

[2020-11-03 19:45] okbel commented on #26
Bringing BigCommerce to debug this @RayeEThompson

[2020-11-04 05:22] marbiano opened #64 "RFC: Custom Checkout"
I'm thinking about having a fully custom checkout page for this project.

Didn't want to start working on a POC before having a talk about heuristics with the core team of the project.

There are three main topics that come to my mind right now:

**1. Checkout data hooks:** Based on what I've been from BigCommerce, they have a [Checkout SDK](https://github.com/bigcommerce/checkout-sdk-js) to pull

[2020-11-04 05:33] marbiano commented on #2
@robbieaverill started an RFC in order to talk about a fully custom checkout: https://github.com/vercel/commerce/issues/64

[2020-11-04 05:40] Balance8 commented on #26
I can corroborate that I am experiencing the same issue, env variables pulled via vercel CLI, account created according to the regex.  ```Error: Internal server error
    at FetcherError.CommerceError [as constructor]```
User is generated in big commerce

![image](https://user-images.githubusercontent.com/36809369/98073351-031c4000-1e1d-11eb-942f-63aeb68fa3c7.png)

[2020-11-04 11:18] orivelton commented on #3
@vindecodex  you can start a project and pull de .env.local variable using the vercel CLI, just run  `vercel env pull .env.local` https://vercel.com/blog/environment-variables-ui

[2020-11-04 13:22] magicspon commented on #26
Snap... I'm also seeng this error.

[2020-11-04 14:21] RayeEThompson commented on #26
Hey guys, working with the team to debug this. We have the issue reported to BigCommerce engineering. I will follow up as soon as possible.

[2020-11-04 15:43] eric-stanley opened #66 "Forgot password"
Could be nice if we have a forgot password functionality too

[2020-11-04 16:00] eric-stanley opened #67 "Change Clothes and Accessories link href in Navbar"
Currently both Clothes and Accessories link in the Navbar searches for the matching word (clothes and accessories) in the product name, instead it should search for tags linked to the product.

[2020-11-04 16:19] sadpvndv commented on #26
I have this error on SignUp and Login `Error: Invalid credentials at FetcherError.CommerceError [as constructor]` on local and in the deployed page

[2020-11-04 17:23] lfades commented on #64
@marbiano We did have some mockups but there were limitations on custom checkouts with BC, mostly related to security, therefore we went for the full checkout using an external page handled by BC.

@becomevocal any thoughts here?

[2020-11-04 18:11] StellaJung-Student commented on #39
@okbel for the new contributor~, how they know the proper values? Where can we get the API and Token~?

[2020-11-04 19:03] becomevocal commented on #64
@lfades yeah the most custom form of checkout where you manage your own payment requests _puts the app in scope of PCI compliance_. We support that method, it's just easier for many devs & merchants to have the ecomm platform manage more of that risk.

@marbiano high level the BC platform supports the following checkout methods:
- Fully Hosted Checkout, which is customized by modifying the templat

[2020-11-04 21:21] RayeEThompson commented on #64
👋 @marbiano - creating a custom checkout using [Open Checkout](https://github.com/bigcommerce/checkout-js) is an option. At this time your team would own the PCI compliance if you use this code - but it is our BC production application, it is supported and has regular releases/bug fixes. It is React so it should work nicely with Next or give you the inspiration for how to build your solution.

I a

[2020-11-04 22:01] RayeEThompson commented on #55
👋 @ikoruk, I'm @rayeethompson a Developer Advocate at BigCommerce. I would love to know if this is still occurring. If it is, I can help you update any products locale via REST API call.

[2020-11-04 22:10] RayeEThompson commented on #27
TY @okbel and @buty619, I am looking into this now might need a day to confirm my suspicions. Are you in our BigCommerce Dev Slack? If you can join by filling out this [form](https://forms.gle/K9MWsQrxciGbXSeBA). I can see if there is anyone having this issue in that forum as well.

[2020-11-04 22:23] RayeEThompson commented on #64
@marbiano the data hooks are open-sourced. I will be happy to look at more data hooks for checkout, as well please feel free to reach out to me any time and we can collaborate on them.

[2020-11-05 00:52] murillo94 commented on #26
Same error here, tried to login in and sign up takes the error:

|view|url|response|
|-----|--|---------|
|![Captura de Tela 2020-11-04 às 21 48 44](https://user-images.githubusercontent.com/9031279/98183865-d7b25780-1ee7-11eb-8348-84c5e1c0a245.png)|![Captura de Tela 2020-11-04 às 21 48 32](https://user-images.githubusercontent.com/9031279/98183880-dc770b80-1ee7-11eb-93bd-9b579c79386d.png)|![Cap

[2020-11-05 01:20] buty619 opened #68 "[BUG] can't add any products in local env"
hello @okbel  thanks for all you help but im still having same issue i already create the .ev.local file whit the key get from versel, there is something else im missing? maybe local env should be different to the once generate on versel?

<img width="1263" alt="Screen Shot 2020-10-28 at 5 13 42 PM" src="https://user-images.githubusercontent.com/36422189/97502588-6a2f8580-1941-11eb-8488-463e481470

[2020-11-05 03:39] gr-qft commented on #23
Ok thanks the info, I'm not too concerned about this warning at the moment, but at some point I'll try what you suggested and let you know.

[2020-11-05 03:53] gr-qft commented on #24
@okbel The problem is not with the demo site. The problem occurred when I deployed vercel commerce repo on my vercel account. I still have a problem, but the deployed repo is 8d old, and I'm running into some deployment problem (hook, module etc.) so I cannot test it now.

[2020-11-05 04:08] marbiano commented on #64
@becomevocal thanks for the info!

@RayeEThompson hi! happy to connect, I was just looking at [this document](https://developer.bigcommerce.com/stencil-docs/customizing-checkout/installing-custom-checkouts) but it's not clear to me what would be the best course of action since there seems to be are many options, including the [Checkout SDK](https://developer.bigcommerce.com/stencil-docs/customizin

[2020-11-05 08:41] ikoruk commented on #55
It does seem to be different now, but I get the error `Type error: File '/vercel/workpath0/hooks/useCart.ts' is not a module.` on a fresh install.`

<img width="632" alt="image" src="https://user-images.githubusercontent.com/316607/98217563-f4cc4200-1f4a-11eb-8932-135ff2bcfd54.png">

[2020-11-05 08:54] rezakalfane opened #69 "Clone & Deploy on Vercel failing as of today"
Hi,

Building is failing when importing on Vercel (from https://nextjs.org/commerce). Also failing when cloning on my local machine and setting the BigCommerce local variables:

09:45:00 | Failed to compile.
-- | --
09:45:00 | ./hooks/index.ts:1:36
09:45:00 | Type error: File '/vercel/workpath0/hooks/useCart.ts' is not a module.
09:45:00 | [0m[31m[1m>[22m[39m[90m 1 \| [39m[36mexport[39m {

[2020-11-05 13:44] agustif commented on #64
Hey guys just wondering though, where does that leave any devs who want to have a custom checkout without BC? Like for example stripe hosted checkout?

[2020-11-05 17:27] patrys commented on #2
Very interested in this as well, I imagine an abstraction layer and a set of capability flags would make it easier to support other commerce backends without forcing everyone to implement the same common subset of features.

[2020-11-05 20:26] #6 closed

[2020-11-06 05:01] vindecodex commented on #3
@okbel i already run the project in my local machine can you help me explain what was the bug is :bow:

[2020-11-06 12:34] dinohamzic opened #72 "Integration with Solidus"
At Nebulab we are working on creating a custom open source storefront for [Solidus](https://solidus.io) based on Next.js and GraphQL.

After watching Next.js Conf and seeing Next.js Commerce in action, we started an internal discussion to understand if it would be feasible (and an overall sensible move) to try to integrate Solidus with this storefront instead of making one from scratch.

As per ou

[2020-11-07 08:55] singhsimranjeetg opened #76 "Socket hang up"
Hi,

After I set up local env. with vercel cli and run yarn dev, it throws this error after couple of seconds.

FetchError: request to http://127.0.0.1:3000/ failed, reason: socket hang up
Uncaught     at ClientRequest.<anonymous> (file://C:\Users\username\Desktop\nexteshop\node_modules\node-fetch\lib\index.js:1455:11)
    at ClientRequest.emit (events.js:314:20)
    at Socket.socketCloseListener

[2020-11-08 22:34] leahtard opened #79 "Server Error: Image is missing required "src" property."
When first running `yarn dev` after build, I was seeing the following error:

[code]

This occurred because I connected to an existing BigCommerce sandbox -- as opposed to creating a new site on creation. In this sandbox, I had a few products without any images which were causing this error. It would be great if the commerce package could account for this.

My proposal:
1. Filter out products from

[2020-11-08 23:05] jheyer159 commented on #17
Still getting the same error.  I tried going through the deployment process again with a separate Github, Vercel, and BigCommerce account with no issues.

The main differences that happened between successful and failed deployment
 - I tried linking Vercel to a GH org account, which caused an error and I had to delete  / re-create the Vercel project because the redirect was stuck.
- I already had

[2020-11-08 23:05] #17 closed

[2020-11-08 23:10] leahtard commented on #79
I get this a try in this PR: https://github.com/vercel/commerce/pull/80

[2020-11-09 11:30] #69 closed

[2020-11-09 11:57] marceloF5 opened #83 "Add starter settings for Jest"
Hey guys, I saw that this project doesn't have any unit tests. So I'd like to contribute to the unit test and I created this PR https://github.com/vercel/commerce/pull/82 in order to apply the starter settings with jest and react testing library.

[2020-11-09 13:51] David05500 commented on #39
Have you managed to figure out yet?

[2020-11-10 00:48] rmaximoc commented on #30
I have the same issue here

[2020-11-12 18:52] okbel opened #86 "Deprecating HTMLContent Component in favor of Text"

[2020-11-12 18:53] okbel opened #87 "Remove HeadlessUI since it takes most of the bundle size."

[2020-11-12 18:53] okbel opened #88 "Remove @react-aria/overlays in favor of something smaller."

[2020-11-13 01:43] StellaJung-Student commented on #39
@David05500 Yeah.. any tips?

[2020-11-13 15:14] David05500 commented on #39
Unfortunately I am looking for the answer myself!

[2020-11-15 17:24] Sami-Az commented on #68
@buty619 have you been able to get a fix for this error ? I'm having the same error triggered with the cart request failing with a 500 status ...

[2020-11-17 19:01] jjongsma opened #89 "LICENSE?"
I was looking at nextjs commerce but noticed there isn't a LICENSE file. Realize the project is still in development but what is your plan for open sourcing it? If it will be open source, which license?

[2020-11-18 12:24] RayeEThompson commented on #64
@okbel I think this one is good ;)

[2020-11-18 12:28] RayeEThompson commented on #39
In BigCommerce you can get the API tokens from the Store's control panel - you can refer to our documentation on authentication here: https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication
You will also need a graphql auth token: https://developer.bigcommerce.com/api-reference/store-management/tokens/api-token/createtoken

The easiest way to connect howev

[2020-11-23 09:29] dohomi opened #92 "Will this project be exposed as a npm module?"
Hey Guys,

is this project meant to be a NextJS template or will there be a npm module which would expose all the components and apis? As a template with such a complexity it will be difficult to keep track of changes over the time.

Thanks

[2020-11-23 21:25] ogriffithjones opened #93 "Not rebuilding on edit or creation of a product."
After adding a product in big-commerce I can see it in the search and on the home page, however when I try to view the product e.g. /product/chair it returns a 404.

After ReDeploying manually it is now there and doesn't give a 404.

[2020-11-24 10:39] jojobudiman opened #94 "Issue related to BigCommerce’s REST API Authentication"
Hello! :blush:
So I already ran `vercel link` and `vercel env pull .env.local`, updating the local env variables from `VERCEL` until `BIGCOMMERCE_CHANNEL_ID` (For the Bigcommerce env variables already automatically updated from Vercel CLI). But unfortunately, it requires authentication every time I ran `yarn dev`. Here's the error below:

[code]

For the API token, I've created some API accounts t

[2020-11-24 11:10] Quynh-Nguyen commented on #2
@okbel
Hi,
Can you please share your branch you working on this issue?
It's great if I can join to help for improve the implementation on it, because this is the most important feature.

[2020-11-24 15:02] #89 closed

[2020-11-24 23:38] robbieaverill commented on #64
Hi @becomevocal @RayeEThompson, would you mind please clarifying a couple of points around the requirement for PCI compliance here?

If you're talking about posting credit card information over network requests in your own application, sure - you'd need to be PCI compliant, but I don't think that's a realistic scenario - I believe that the standard approach would be to use a PCI compliant tokenize

[2020-11-25 16:06] becomevocal commented on #64
@robbieaverill good point! I maybe made it sound a bit too ominous in my previous comment 😅

The completely custom checkout route should be able to skirt the PCI compliance scope if it's using a payment gateway like Stripe to handle secure tokenization on the FE. I've definitely seen that route taken across many ecomm sites across in the past. It's then more of a matter of how you create the order

[2020-11-25 23:12] keaglin commented on #94
Having the same issue.

[2020-11-26 00:17] oliviertassinari commented on #88
Happy to help if you consider our [Modal](https://material-ui.com/components/modal/) component.

[2020-11-26 08:55] ogriffithjones commented on #93
Fixed title or accurately represent the issue.

[2020-11-26 13:20] vincivince opened #97 "Color/Size descriptions should be updated in checkout"

[2020-11-26 16:18] okbel commented on #97
Duplicated.

[2020-11-26 16:18] #97 closed

[2020-11-26 16:33] okbel commented on #93
This should do it. Thank you!!!! https://github.com/vercel/commerce/pull/100

[2020-11-26 16:33] #93 closed

[2020-11-26 16:34] okbel commented on #92
Thanks for reaching out! I'd love to but this was initially intended as a starter. We're abstracting most of the functionality to commerce-framework. Will update all soon.

[2020-11-26 16:34] #92 closed

[2020-11-26 16:40] #86 closed

[2020-11-26 16:42] okbel commented on #83
Thank you!!! Checking

[2020-11-26 16:43] okbel commented on #79
This is great!!! Thank you. _checking_

[2020-11-26 16:48] okbel commented on #76
Is this still happening? Please fetch the latest.

[2020-11-26 16:48] #76 closed

[2020-11-26 16:51] okbel commented on #68
This looks pretty weird. Could you post this here? https://github.com/bigcommerce/storefront-data-hooks Looks like it's coming from BigCommerce.

[2020-11-26 16:51] #68 closed

[2020-11-27 12:00] johnnypea commented on #2
Where should I start when I want to start working on Sylius provider? Any guideline or initiative?

[2020-11-27 13:57] patrys commented on #64
If anyone is interested in how different APIs handle checkout (I hope the idea is for this to not be too BigCommerce-specific), here's Saleor's checkout API (JS SDK): https://github.com/mirumee/saleor-sdk/blob/master/src/api/Checkout/index.ts

[2020-11-27 18:13] AndreiBuh commented on #94
having the same issue

[2020-11-27 18:53] keaglin commented on #94
Not as of yet. Hoping for something soon though.

[2020-11-27 18:58] AndreiBuh commented on #94
I don't understand what is happening with the BigCommerce API. My app was working few days ago and now i get this error when running locally: Error [BigcommerceApiError]: Big Commerce API error (401)

[2020-11-27 19:05] okbel commented on #94
Could you all try to deploy again with the integration and let me know if you are experimenting the same thing? (at /commerce) I've just synced with one of the users having this issue and it's resolved - no issues at all. We fear that it might be related to BC Api.

[2020-11-27 19:08] AndreiBuh commented on #94
i've tried to generate a new starter and has the same problems

[2020-11-27 20:07] AndreiBuh commented on #94
Earlier, the deploy of the starter didn't work. Now the deploy is succesful, but when running locally it doesn't work, after vercel link and vercel env pull. I get this error:
Server Error
Error: Authentication required
This error happened while generating the page. Any console logs will be displayed in the terminal window.
Any solution. I can't continue developing my old app since i can't authent

[2020-11-27 21:23] keaglin commented on #94
When I get back to my desk, I'll try my current clone and a fresh clone if it doesn't work still.

[2020-11-28 01:55] lucleray commented on #94
Hi @jojobudiman, we released a fix for this issue today.

The development and preview environment variables were not correctly created by the bigcommerce integration.

To fix it, you can create a new project with the Next.js commerce template.

Let us know if it works for you 🙏

[2020-11-28 01:57] #94 closed

[2020-11-28 02:34] keaglin commented on #94
That did the trick! Thanks all!

[2020-11-28 11:02] derardeek commented on #94
I created a fresh clone, and I am still gettin the same issues

[2020-11-28 11:08] AndreiBuh commented on #94
I created a fresh clone too and i am having the same issue. I think the Storefront Api Token was generated badly yesterday. Now i think is generated fine, but it still doesn't connect to Bigcommerce API on local development

[2020-11-28 19:54] keaglin commented on #94
I created a fresh clone and a new project on Vercel, but connected the integration to the previous store from BC.

Does creating both (a new clone and new project) help in your cases?

[2020-11-28 22:02] lucleray commented on #94
@derardeek @AndreiBuh Could you share the error you are seeing and how to reproduce it?

I tried with the "Clone & Deploy" on [this page](https://nextjs.org/commerce) but both the preview and development environment variables worked correctly.

[2020-11-28 23:06] AndreiBuh commented on #94
Server Error
BigcommerceApiError: Big Commerce API error (401)  was the error.

Now it worked for me. Thanks.

[2020-11-28 23:33] pgvercel commented on #94
Error [BigcommerceApiError]: Big Commerce API error (404)
Headers: {
  "connection": "keep-alive",
  "content-encoding": "gzip",
  "content-type": "application/problem+json",
  "host": "api.bigcommerce.com",
  "strict-transport-security": "max-age=31536000; includeSubDomains",
  "transfer-encoding": "chunked",
  "vary": "Accept-Encoding",
  "x-rate-limit-requests-left": "148",
  "x-rate-limit-requ

[2020-11-29 02:28] derardeek commented on #94
I am now getting a 500 error on the production and the same 404 as above on local

here is the site
sinful.vercel.app

[2020-11-30 12:12] marceloF5 opened #104 "Add eslint and prettier"
Hey people,

I created this issue just to represent the PR already submitted before but I created it without an issue opened related. #71.
Basically, we should think about organization and standardization, so I submitted a simple configuration of eslint and prettier. And obviously, we can improve other things over time, but for the moment I saw reason to just go here. These configurations already

[2020-11-30 13:11] mostafakhawas2 commented on #104
prettier configuration is added in the package.json file.

[2020-11-30 20:20] GuilleAngulo opened #105 "Warning: Encountered two children with the same key"
Hey guys, congrats for the amazing project!
## Description
Running the project with the default store, appears the following warning:

![grid-children-key](https://user-images.githubusercontent.com/50624358/98121644-55497980-1e8e-11eb-9e0d-3d2a3a0facd9.png)

At **index** page, when **featured** array is prepared:

-  If an item is both inside `featuredProducts` and `newestProducts`
- and `featured

[2020-11-30 22:59] okbel commented on #2
Hello all!

We ported all our hooks to here -> https://github.com/vercel/commerce-framework. Under the example folder you'll be able to create your own hooks to use them with Next.js Commerce.

Here is the proposed API to support new providers. https://github.com/vercel/commerce-framework/pull/1/files?short_path=b335630#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5

We're a

[2020-11-30 23:19] RayeEThompson commented on #94
Hey all! @rayeethompson here, BigCommerce Dev Adv. We are investigating the issues that are impeding local development. More information and errors would be appreciated. We have reports of CORS policy issues, if you are experiencing this with the tokens pulled from Vercel, or BigCommerce please share.

[2020-11-30 23:32] RayeEThompson commented on #26
To follow up here, I have been investigating and the issue is not on the BigCommerce receiving the requests. It is on the return from the BigCommerce Data-Hooks. Can you all please share your experience with [Storefront-Data-Hooks Issues](https://github.com/bigcommerce/storefront-data-hooks/issues)?
This will help us immensely and I will create an issue there tomorrow, with all of my research and

[2020-12-01 01:36] luke-denton-aligent opened #106 "Add to Cart button doesn't work (possibly no buttons work?)"
The `components/ui/Button/Button.tsx` component accepts a prop, `onClick`, however as of recently, that prop is no longer used within the component.

[2020-12-01 02:19] luke-denton-aligent opened #107 "Checkout page doesn't render locally"
When attempting to load the `/checkout` route in Next Commerce on a local dev machine, this error appears:

![image](https://user-images.githubusercontent.com/18253422/100688995-82c50c80-33d3-11eb-8395-84581010bb85.png)

Here it is again for text searches
[code]

[2020-12-01 13:32] maartenjongerius commented on #2
@okbel We would very much like to contribute on Shopify providers. How can we join?

[2020-12-01 17:40] Tomburgs commented on #26
@RayeEThompson is that the case also for login requests?

I attempted to create a new GraphQL API Token through `/v3/storefront/api-token` with all the permissions topped out and then create a custom GraphQL request through postman, but I'm still getting back the `Invalid Credentials` error, even though I've triple-checked that they are correct.

When creating the same request through the Storefro

[2020-12-02 01:34] fkurdi commented on #107
not sure this is part of the scope of this app.
the checkout page, `<baseurl>/checkout`, will render on prod because big commerce hosts that checkout page.
i might be wrong, but for compliance reasons and customer account safety, the checkout pages are usually hosted on the platforms and are not directly exposed to coders.
best we can do here is a mock checkout page??

it would be amazing if we ca

[2020-12-02 02:27] luke-denton-aligent commented on #107
Thanks @fkurdi, I think you might be correct! I noticed when I tested my app that was deployed that I was redirected to a big commerce hosted checkout.

Locally, I would still expect the route to be handled in some way - either displaying a message that says "this page isn't for dev" or something else, rather than just error's and breaking the app

[2020-12-02 10:03] marceloF5 commented on #104
@mosmk2 you right, I'm gonna review it.

[2020-12-02 11:13] PixoDev commented on #94
Hi @RayeEThompson, I'm having issues with the Vercel generated token, the API fails with "an error occurred" message, I checked the source and saw that the error is coming from the login which is made after the signup, seems like is not a BigCommerce dependency internal error.

I tried with different generated tokens, twice, both fails

Is there any way to provide you a minimal reproduction? since

[2020-12-02 11:38] derardeek commented on #94
I been getting the same problems

[2020-12-02 14:14] okbel commented on #2
@maartenjongerius Amazing!!! Feel free to open a PR to commerce-framework remember to copy the example folder and replace all with Shopify helpers. I added info to the readme. Thank you!

[2020-12-02 15:56] zeekrey commented on #39
@RayeEThompson How does the Vercel CLI help me getting the right credentials? It will only store and receive credentials. But it won't magically generate them. Or am I wrong here? 🤔

This is my personal story. The needed data:

[code]

I searched the whole BigCommerce docs but could only finde that I can obtain the following data from the BigCommerce dashboard:
* Client Secret
* Client ID
* Access

[2020-12-02 17:56] iamfeek commented on #24
mm yeah. I am facing the same problem as @gr-qft.
Repo deployed 2 days ago, testing on local.
.env areismatching that of Vercel's env vars.

[2020-12-02 19:16] ulysset opened #111 "Not displaying product description on page reload (demo.vercel.store website)"
Hi,
This problem has been found when testing the website on desktop Chrome 87, Safari and another computer on a different network :
When refreshing a product page the description disappears (see image bellow)
Failed to load resource: the server responded with a status of 500 ()`
<img width="1440" alt="Screenshot 2020-12-02 at 20 10 39" src="https://user-images.githubusercontent.com/13087992/100919

[2020-12-02 20:18] r2dev commented on #2
@okbel I would like to look into shopify integration as well

[2020-12-03 00:23] buty619 commented on #27
@RayeEThompson  thanks for time investigating this, i gonna fill the form and see if there is anything i can do to help the team!! if you need some help pls let me know.

[2020-12-03 13:46] RayeEThompson commented on #39
You will need to use the Vercel CLI and use the cmd for pull .env.local, as long as you used the native integration.
The Storefront API URL should contain the /graphql endpoint. Everything else looks correct.

[2020-12-03 13:53] RayeEThompson commented on #94
The data hook for login is using Graphql. It appears this data hook is proxing the cookie from Graphql, which could be causing the spotty login in.
Our product and engineering team will be taking a look at the login data hook but here are some options:
1. call login API from FE, cookie is set directly on your graphQL hostname (invisible to you), and future requests have customer-specific data
2. c

[2020-12-03 14:06] RayeEThompson commented on #26
Please go here and add your comments and feedback for the errors that are captured in this issue:
https://github.com/bigcommerce/storefront-data-hooks/issues/13

[2020-12-03 14:08] RayeEThompson commented on #94
Please go here and add your comments and feedback for the errors that are captured in this issue:
bigcommerce/storefront-data-hooks#13

[2020-12-03 20:34] shksa opened #112 "getStaticProps in Wishlist.tsx, Blog.tsx is doing nothing, wastefully fetching data"
The data fetched in getStaticProps of pages/Wishlist.tsx and pages/Blog.tsx is NOT consumed by the Component in thaose pages. Isn't this unnceesaary?

[2020-12-03 21:53] luke-denton-aligent commented on #32
Hi @okbel, I can see that the attached bug has been closed, but the Lighthouse scores are still in the orange for the Demo instance. Has that bug fix been deployed yet?

[2020-12-07 15:16] leerob opened #115 "Dark mode doesn't update the Vercel SVG color"
Very small bug 😄

![image](https://user-images.githubusercontent.com/9113740/101368560-e84e4880-386c-11eb-974e-bc5ca7b0fbc2.png)

[2020-12-08 06:25] chandan-reddy-k commented on #32
@okbel any updates here?

I still see the same level of scores and don't think #18416 solved the issue 😅
![Screenshot 2020-12-08 at 11 53 20 AM](https://user-images.githubusercontent.com/43699825/101447827-ffb03300-394b-11eb-958c-5d888344169f.png)

[2020-12-08 13:51] okbel commented on #115
Looking forward to your PR 😛

[2020-12-08 13:51] okbel commented on #115
haha thanks for reporting! On it!!

[2020-12-08 14:19] okbel commented on #115
Solved here! https://github.com/vercel/commerce/pull/118

[2020-12-08 14:19] #115 closed

[2020-12-08 14:19] okbel commented on #106
Solved! Thanks

[2020-12-08 14:19] #106 closed

[2020-12-09 10:42] stevencmh commented on #111
Hello,

I'm seeing the same with these two warnings:

`Warning: Prop `dangerouslySetInnerHTML` did not match.`

`Warning: Invalid DOM property `shape-rendering`. Did you mean `shapeRendering`?`

[2020-12-09 10:50] stevencmh opened #119 "Uncaught (in promise) TypeError: Expected "nextInternalLocale" to be a string"
Hi,

Error occurs when using the All Categories and All Designers filter at the bottom left of the home page.

<img width="1183" alt="Screenshot 2020-12-09 at 10 49 35" src="https://user-images.githubusercontent.com/35059438/101620285-3f3e5400-3a0c-11eb-9dbc-c55335b45726.png">

[2020-12-09 12:15] bryandandan commented on #30
Can anybody tell me where the env values are actually being used/called in the code?

[2020-12-09 12:16] bryandandan commented on #68
Can anybody tell me where the env values are actually being used/called in the code?

[2020-12-09 12:16] bryandandan commented on #51
Can anybody tell me where the env values are actually being used/called in the code?

[2020-12-09 12:16] bryandandan commented on #39
Can anybody tell me where the env values are actually being used/called in the code?

[2020-12-09 12:17] bryandandan commented on #38
Can anybody tell me where the env values are actually being used/called in the code?

[2020-12-09 12:18] bryandandan commented on #13
Can anybody tell me where the env values are actually being used/called in the code?

[2020-12-10 20:18] markcmurphy commented on #119
I experienced this when searching while changing the locale to ES. This thread helped me fix the issue: https://github.com/vercel/next.js/issues/19521 and it looks like they've addressed it in a canary release: https://github.com/vercel/next.js/pull/19766

[2020-12-11 11:54] stevencmh commented on #119
Hi,

Thanks! … I'll just pulled and merged canary but it's still throwing the same error.

Just looking on the demo site, and the filter on the right-hand side also results in an error.

[2020-12-11 12:55] stevencmh commented on #24
Hi, did you get this working? I'm seeing the same thing on my deployment.

[2020-12-11 16:55] markcmurphy commented on #39
They're being used in the [@bigcommerce/storefront-data-hooks](https://www.npmjs.com/package/@bigcommerce/storefront-data-hooks) node module: node_modules\@bigcommerce\storefront-data-hooks\api\index.js

[2020-12-11 17:02] okbel commented on #112
We'll be adding more content there. Serves as a starter, so we might leave it there. Thanks!

[2020-12-11 17:02] #112 closed

[2020-12-11 17:12] bryandandan commented on #39
Correct. Thank you!

[2020-12-14 15:38] b-emini opened #121 "Sorting causes an unexpected page error ."
After selecting a category and afterwards changing the sorting type it just shows the results for a split second and then gives and error.
To Reproduce click this link : https://demo.vercel.store/search/shop-all?sort=price-asc
Or : Go to homepage then select Shop All , afterwards change the sorting type and wait for the error.
It seems to be a server error.
![Screenshot from 2020-12-14 16-36-21](h

[2020-12-14 17:56] stevejhiggs opened #122 "Pulling .env.local from vercel sets wrong api store url"
I was having the "login / create user returns 500's" issue others are seeing and was trying to figure out whats going on. While tracing through I noticed that my BIGCOMMERCE_STOREFRONT_API_URL in the .env.local file I downloaded from vercel contained:

https://store-u8hj8zwtsi-511411.mybigcommerce.com/graphql

But that my graphql explorer linked to:

https://mynicepharmacy.mybigcommerce.com/graphq

[2020-12-14 17:59] stevejhiggs opened #123 "Setting login cookie does not work in latest chrome"
When login succeeds it attempts to set the SHOP_TOKEN cookie with SAME_SITE=none. Latest chrome does not allow this to work on non-https sites and blocks the attempt. The causes login to succeed but the user not to actually appear to be logged in.

I dont know if setting it to lax will still work with everything, but if it needs to be still set to none there should probably be documentation on how

[2020-12-14 20:34] sabraham commented on #122
Unfortunately this doesn't work for me. Changing the BIGCOMMERCE_STOREFRONT_API_URL as described here produces 401 errors when building.

[2020-12-15 15:54] stevejhiggs commented on #123
This turned out to be an issue in storefront data hooks. See https://github.com/bigcommerce/storefront-data-hooks/pull/16 for the pr

[2020-12-15 15:54] #123 closed

[2020-12-16 14:16] Aleksion commented on #2
@maartenjongerius did you guys jump on this? I'm evaluating options for a new shop, and my client has more familiarity with Shopify (than BigCommerce). I don't have the bandwidth to do the hooks right now though, so if you guys tackled it that would be a godsend

[2020-12-17 00:25] djodjo02130 commented on #2
@okbel Hi ! Someone have start contributing for Shopify ? I want to contribute :)

[2020-12-17 01:33] jerrylopez commented on #2
Has anyone started on the Magento provider?

[2020-12-17 07:56] maartenjongerius commented on #2
@Aleksion I'm sorry to say we haven't gotten around to it yet. Right now, we're looking into starting next month

[2020-12-17 08:17] dani97 commented on #2
I am ready to contribute for Magento 🙂

[2020-12-20 03:05] derardeek commented on #122
Having the exact same issue

[2020-12-20 06:58] LarsBuur commented on #2
I am ready and willing to contribute to the work on Shopify. I have not build such React hooks things before and thus should not the one who should drive it. Ping @maartenjongerius @Aleksion and @djodjo02130

[2020-12-21 14:52] pgvercel commented on #122
Having the same issues with Sign Up & Login. Has someone managed to resolve this?

[2020-12-21 17:11] #111 closed

[2020-12-21 17:27] #26 closed

[2020-12-21 17:27] #88 closed

[2020-12-21 17:27] #87 closed

[2020-12-21 17:28] #119 closed

[2020-12-21 17:57] okbel commented on #121
You are adding an / to the URL. The correct URL would be `http://localhost:3000/search?q=hello&sort=price-desc` **no slash**.

[2020-12-21 17:57] #121 closed

[2020-12-22 00:08] Vaqxin opened #130 "IMGs aren't fully responsive."
If the product has dead space all around like the demo product photos you won't be able to tell. But if the product is vertical it gets chopped off on mobile.

Here's an example : https://sabersouth.vercel.app/product/brigade-mfg-bm-9-forged-aluminum-ar-rifle-fde

540 x 540 photo. It should resize to the viewport on smaller devices.

[2020-12-22 10:07] stevejhiggs commented on #122
I think there may be several connected issues with login. It might be interesting to see if the issues are caused by the vercel -> bigcommerce auto setup or not.

In my case it was a brand new site set up via vercel using https://vercel.com/#get-started

[2020-12-22 10:48] djodjo02130 opened #131 "[Feature] Manage multi currency, with default value like i18n"
This option should be added for international shops.

- Like i18n customer can change currency in avaiblable list.
- Default currency associate with domain like i18n: ".uk" -> GBP, ".fr" -> EUR ... etc
- Default currency associate with locale: en_gb -> GBP, fr_fr -> EUR ...etc

[2020-12-22 14:12] b-emini commented on #121
Try and visit this URL , the issue persists and gives a 404 error.
https://demo.vercel.store/search/designers/acme?sort=price-desc
I have selected all and them the ACME from the designers section and after selecting sorting type it gives the error.

[2020-12-22 22:39] Nick-Achee commented on #122
https://github.com/bigcommerce/storefront-data-hooks/issues/13#issuecomment-749758395

leaving this here in the event you still haven't figured it out..

[2020-12-23 10:39] stevejhiggs commented on #122
Issue is better represented by https://github.com/bigcommerce/storefront-data-hooks/issues/13#issuecomment-749726984

[2020-12-23 10:39] #122 closed

[2020-12-23 19:45] AmazingTurtle opened #133 "How to translate products?"
**What's happening?**
My products are in english when I'm navigating through a spanish store.

**What do I expect?**
I want my products to be spanish. But I also have my store in english, so the same product should also remain to be available in english.

**Storytime** aka rant
So I am experimenting with this for a couple of hours now and I tried to add a new product in big commerce. I noticed, th

[2020-12-23 20:15] AmazingTurtle opened #134 "I have removed my configuration by accident - how do I bring it back?"
Let's make it short. I hit the small red button and now it's gone.

![image](https://user-images.githubusercontent.com/2357438/103033812-aeb35800-4563-11eb-9db9-716040d4ef23.png)

I know that this integration has provided environment variables. But here we go:

- Which environment variables are we talking about? And what are their values?
- How do I add the integration again? I can't find it on th

[2020-12-24 14:50] b-emini commented on #32
According to lighthouse test , it seems that one of the issue resides with the images not being properly sized. I mean they were supposed to be sized automatically as it was a new feature added to nextjs if i am not wrong  but it doesnt seem to work on this case.

[2020-12-26 02:22] bryant273092 commented on #27
Any update on this issue? I tried changing the link with a custom script but that did not work.

[2020-12-26 17:56] bhamed-altesse commented on #39
It should be as below :

BIGCOMMERCE_STOREFRONT_API_URL=https://store-{$STORE_ID}.mybigcommerce.com/graphql
BIGCOMMERCE_STOREFRONT_API_TOKEN=${**STOREFRONT_TOKEN**}
BIGCOMMERCE_STORE_API_URL=https://api.bigcommerce.com/stores/{$STORE_ID}
BIGCOMMERCE_STORE_API_TOKEN=${**STORE_TOKEN**}
BIGCOMMERCE_STORE_API_CLIENT_ID=${**STORE_CLIENT**}

With :
**STORE_ID**: you can get it from your bigcommerce admi

[2020-12-26 18:03] BilalDev commented on #39
It should be as below:

BIGCOMMERCE_STOREFRONT_API_URL=https://store-${STORE_ID}.mybigcommerce.com/graphql
BIGCOMMERCE_STOREFRONT_API_TOKEN=${**STOREFRONT_TOKEN**}
BIGCOMMERCE_STORE_API_URL=https://api.bigcommerce.com/stores/${STORE_ID}
BIGCOMMERCE_STORE_API_TOKEN=${**STORE_TOKEN**}
BIGCOMMERCE_STORE_API_CLIENT_ID=${**STORE_CLIENT**}

With:
**STORE_ID**: you can get it from your bigcommerce dashbo

[2020-12-28 11:05] FredvanRijswijk commented on #107
@fkurdi https://github.com/bigcommerce/checkout-js is the full open-source version of BigCommerce checkout

[2020-12-29 10:43] tkapitein opened #136 "Image slider shows all images when navigating from product page to product page."
https://user-images.githubusercontent.com/37157784/103277396-2d2b5200-49c9-11eb-8891-a2f842ec533d.mov

Used browser: Google Chrome

When you visit a product page and visit another product page via the shoppingcart, all product images will show in the slider.  It seems that the product slider components acts on the props of the previous productpage.

[2020-12-29 14:06] bobbiejaxn commented on #24
I am having the same issue, unfortunately. Any advice on this?

[2020-12-29 20:55] okbel commented on #133
Hey, use friendlier language, please. Idk if you are familiar with open source, but be kind and respectful. It's an implicit rule.

[2020-12-29 20:58] okbel commented on #133
And this is related to BigCommerce not to Next.js Commerce. @RayeEThompson

[2020-12-29 21:00] okbel commented on #136
Amazing thank you

[2020-12-29 21:00] #136 closed

[2020-12-29 21:01] okbel commented on #107
@RayeEMThompson

[2020-12-30 12:00] leo commented on #134
Hey!

At the moment, the integration is designed to only be installed via the [Next.js Commerce](https://nextjs.org/commerce) flow.

To add it back, I recommend using the flow to create a new Vercel Project and then replace the Git repository that it's connected to with the old one in the Project Settings. You can also tweak the name of the Project there.

We're working on making sure the integrat

[2020-12-30 18:02] abdokouta opened #141 "Do i have to use Graphql?"
hello, i would like to ask if i want to build my own Commerce API provider same as the example of big commerce do I have to use graphql or rest API will be just fine?

[2020-12-31 09:31] osseonews commented on #64
Interesting discussion. Bigcommerce usually suggests using Braintree as the payment provider. If you use Braintree, you can use their Drop-In and there is absolutely no issue with PCI whatsoever. There is a wrapper for React available at: https://github.com/Cretezy/braintree-web-drop-in-react -

[2021-01-02 05:25] lerer00 opened #142 "cross-site cookies are not allowed when working locally"
Hello, there seems to be a  problem with same-site cookies when developing locally. My BigCommerce store is fresh out the box and I just cloned this repo. All configurations in the .env.local are updated and everything is working fine. The only thing is that I can't log in when working locally. When I deploy in "prod" everything is working fine. Here's a screenshot of the chrome debug tool.

![chr

[2021-01-03 09:57] agcty opened #143 "[QUESTION] Roadmap & current status of project"
I'm checking back and forth if there is any change in this repo because there is no way to know how far advanced development is.

E.g I'd be really interested in a shopify integration and would even be willing to help build but I just don't know what the current status of this project is. How much development still needs to be done for "Modules for external providers" #2 ?

I really would love to

[2021-01-04 13:50] tobiaghiraldini commented on #2
Hey, is there any work in progress for the Shopify integration to contribute to? Really wishing to help if possible.
I'm also really interested in working on the Saleor integration, as other folks from this discussion https://github.com/mirumee/saleor/discussions/6398
I couldn't see any opened PR in the commerce-framework project to head to.

[2021-01-04 14:35] rezakalfane commented on #24
Hi,

I also still have the same issue. My .env.local file has been fetch using "vercel env pull .env.local", and everything runs fine on Vercel and locally, but I can't Signup / Signin...

Any idea?

Thanks!

Error: Internal server error
    at FetcherError.CommerceError [as constructor] (/Users/rkalfane/Workspace/commerce-4/node_modules/@bigcommerce/storefront-data-hooks/commerce/utils/errors.js:

[2021-01-04 19:47] stevejhiggs commented on #142
I had a pr merged into https://github.com/bigcommerce/storefront-data-hooks/releases/tag/v.1.0.3 to fix exactly this issue. Unfortunately a new version of the package does not appear to have been released to npm yet.

[2021-01-06 07:38] huuphongnguyen commented on #143
Total agreed with you. This project looks like abadoned by Vercel team (*look like). Shopify integration is needed.

[2021-01-06 11:28] markfranco commented on #143
It seems like to me they are relying on the open-source community to do the integrations, based on how they have put here in https://github.com/vercel/commerce-framework. The 3rd of December is the last commit in that repo.

I'm only assuming once someone has put forward a PR to replicate @okbel's example for BigCommerce that's all that needs to be done for that said integration.

[2021-01-06 16:58] lachlanjc commented on #143
I'm not from Vercel, but it seems like between https://github.com/vercel/commerce/commit/7401f4e4176fdcfae2dceca115905a40ca011147 & #140, they're making daily progress toward other providers (https://twitter.com/okbel/status/1326534978759319552?s=20). Even this morning: https://twitter.com/rauchg/status/1346837297853992960?s=20

[2021-01-06 17:40] petermekhaeil commented on #2
I've published a package for Shopify integration: [nextjs-commerce-shopify](https://github.com/petermekhaeil/nextjs-commerce-shopify). It is still a work-in-progress. Currently being used in production on an e-commerce website.

@okbel - I'm unclear how to integrate it within [commerce-framework](https://github.com/vercel/commerce-framework). Is this a template for us to use, or would you like all

[2021-01-06 17:45] petermekhaeil commented on #143
For Shopify integration, see https://github.com/vercel/commerce/issues/2#issuecomment-755450563.

[2021-01-06 18:40] okbel commented on #2
Hello all!

We are actively working towards achieving these [goals](https://github.com/vercel/commerce#goals
), mentioned in the README:

#### Goals:
- **Next.js Commerce** should have a completely data **agnostic** UI
- **Aware of schema**: should ship with the right data schemas and types.
- All providers should return the right data types and schemas to blend correctly with Next.js Commerce.

I

[2021-01-06 18:41] #3 closed

[2021-01-06 18:47] okbel commented on #143
https://github.com/vercel/commerce/issues/2#issuecomment-755496891

Just added this comment here, I hope this clears things out 🙏

@lfades is actively working on the Shopify Integration.

[2021-01-09 15:50] #32 closed

[2021-01-09 18:45] Maaasyn opened #153 "Robots.txt and sitemap.xml"
As far as I can tell, robots.txt and sitemap.xml are not implemented in this project. Could you add those files on each build? Also, it would be nice to have this feature backed in nextjs, as it allow search engine to understand structure of our pages.

[2021-01-09 23:59] cellmanguney commented on #2
Hi all
I see you are active looking for contributors for Shopify and Magento. I may contributor for Salesforce Commerce Cloud.
I was looking for a high-performance storefront with SSR and SSG and end-up here :)
This may be a game changer specially if we support enterprise platforms and multi-locale projects

[2021-01-11 01:14] jovvybersamin opened #156 "How to restrict a guest user not to access a specifc page?"
Hi,

Just the title says, how I will protect a certain page not to get access by a guest user?

[2021-01-11 11:03] Quynh-Nguyen opened #157 "BigCommerce call getAllProducts API facing Internal server error issue"
Issue: Cannot call getAllProducts API to BigCommerce GraphQL API.
Expected: Should return all of products

Tracing log:
[code]

Do you guys getting the same issue?

[2021-01-12 11:11] timuric opened #159 "RFC: Real World Commerce Example"
It would be great to see a more complete picture how would Next.js can be used with multi currency, multi country store (different stock sources) with a larger catalogue with at least 20 categories of products with amount of products enough to demonstrate pagination, dynamic filtering etc. While current demo does demonstrate the basics it does not give a glimpse to a real world solution and approa

[2021-01-12 14:08] adamhowell commented on #24
@rezakalfane Did you ever figure this out or hear anything back? I'm having this same issue locally as well.

[2021-01-12 14:39] okbel commented on #159
Absolutely, are you willing to draft the spec with me?

[2021-01-12 14:56] okbel opened #160 "Swell Provider"
## Provider: Swell
Ecommerce: https://swell.store/
Assigned to: @todortotev

[2021-01-12 14:56] okbel opened #161 "Provider: Shopify"
## Provider: Shopify
Ecomerce Provider: https://www.shopify.com/
Assigned to: @petermekhaeil

[2021-01-12 14:56] okbel opened #162 "Agnostic UI"

[2021-01-12 15:02] timuric commented on #159
Sure, currently I am working on porting a store to Next.js that has all of the above mentioned features and more. So I can hopefully can contribute by sharing my experience so far.

[2021-01-12 16:37] amesas commented on #159
As a reference: https://www.vuestorefront.io

[2021-01-12 17:29] rezakalfane commented on #24
No, not yet... Maybe some authorization issues in my BigCommerce config... Everything works on the Vercel instance?

[2021-01-12 17:49] #143 closed

[2021-01-12 17:52] okbel opened #163 "Provider: CommerceTools"
Ecommerce Provider: https://commercetools.com/

[2021-01-12 17:54] okbel opened #164 "Provider: Salesforce Commerce Cloud"
## Provider: Salesforce Commerce Cloud
Commerce Provider: https://www.salesforce.com/products/commerce-cloud/ecommerce/

### Features
-  **Catalog**
- [x] getProduct
- [x] getProducts
- [x] usePrice
- [x] useSearch
-  **Cart**
- [ ] useCart
- [ ] useAddItem
- [ ] useUpdateItem
- [ ] useRemoveItem
- **Authentication**
- [ ] useSignup
- [ ] useLogin
- [ ] useLogout
- **Customer**
- [ ] useCustomer
-

[2021-01-12 17:56] okbel commented on #2
@cellmanguney Are you able to take Salesforce Commerce Cloud? If so, let me know.  Thank you! https://github.com/vercel/commerce/issues/164

[2021-01-12 19:19] millerized commented on #39
@BilalDev Thanks.

✅ My auth only works with the store token + store id version of the `BIGCOMMERCE_STOREFRONT_API_URL` e.g.
[code]

🚫 These storefront api urls do not work with my generated API creds + storefront token:
[code]

Hope this helps!

[2021-01-12 23:06] AaronAmstutz commented on #161
Hello folks! I (and the company I work for) are super interested in contributing to the Shopify integration. Let me know how I can help. I've been poking around in the issue cue looking for places to start.

[2021-01-13 00:17] Crelloc commented on #50
@r3tard3dd Don't think it's fixed, I still have that issue

[2021-01-13 10:50] cellmanguney commented on #164
Hi @okbel Yes I can take the Salesforce Commerce Cloud implementation part!

[2021-01-13 12:33] cellmanguney commented on #2
@okbel yes I can the Salesforce Commerce Cloud integration part!

[2021-01-14 01:24] leidison opened #165 "Provider: Tiendanube"
Ecomerce Provider: https://github.com/TiendaNube/api-docs

[2021-01-14 13:25] okbel commented on #165
@leidison : Are you able to work on it?

[2021-01-14 13:26] okbel commented on #159
@timuric Golden, feel free to use this space. Will open an RFC soon.

[2021-01-14 13:33] okbel commented on #161
I think @petermekhaeil already did big progress on this.

[2021-01-14 15:48] timuric commented on #159
Cool. I would brake down all features in separate comments.

Feature: **Multi country store**

Any store that operates in multiple regions would have a country selector which would have an impact on at least few essential things:

• Currency & Price
• Delivery info
• Stock availability

Similar the way Next.js handles language preferences it would be necessary to detect default country the user is

[2021-01-14 17:21] timuric commented on #159
Example of **dynamic and static data on the page**:

Consider a product page where mostly data is static with few exceptions like **Wishlist** aka **Favorite button**
A straightforward solution would be to use ```getServerSideProps``` to get user specific state of that button, however that would downplay all static generation benefits that most of us like about in Next.js.

At this point there is

[2021-01-15 03:11] Quynh-Nguyen commented on #157
@lfades Can you please assist this.

[2021-01-15 18:48] okbel commented on #164
Lovely!! Thank you.
- We need these (utilities)[https://github.com/vercel/commerce/tree/agnostic#structure]
- Submit a PR adding a folder under `/framework` that exposes those functions.
- Once `agnostic` branch is merged, everybody will be able to use this provider.
- Let me know if you have any questions. Also reacheable at Twitter @okbel.

[2021-01-17 07:06] Abdulsalam0001 commented on #29
I am  having the same issue...

[2021-01-17 17:44] wael-mohamed commented on #161
@AaronAmstutz here's the [repo](https://github.com/petermekhaeil/nextjs-commerce-shopify)

[2021-01-19 07:00] Avi98 opened #166 "Adding App shell and caching it."
Adding an app shell would be really great. We can also cache it for the repeated user. I can start working on it if it's okay.

[2021-01-19 17:26] lorenzorivosecchi commented on #2
I've created a boilerplate to work on the magento provider.
The repo is inspired by the one created by @petermekhaeil for shopify

Here is the link to the project.
https://github.com/lorenzorivosecchi/nextjs-commerce-magento

I'm new to open source, typescript and magento so I could use some help.
Send me a message if you want to contribute or have some advise.

[2021-01-19 17:40] lorenzorivosecchi opened #167 "Provider: Magento 2"
I've created a boilerplate to work on the magento provider.
The repo is inspired by the one created by @petermekhaeil for shopify

Here is the link to the project.
https://github.com/lorenzorivosecchi/nextjs-commerce-magento

I'm new to open source, typescript and magento so I could use some help.
Follow up if you want to contribute or have some advise.

[2021-01-19 21:07] lfades commented on #167
Let us know if you have any progress on this!

[2021-01-20 03:28] Crelloc opened #168 "Bigcommerce Hooks: setting basePath in next.config.js"
I am currently testing for using a basePath with vercel commerce.

For example: setting basePath in next.config.js should route localhost:3000/blog to localhost:3000/some-base-path/blog

Setting basePath causes issues with Bigcommerce webhooks or data search to not function properly.

However, basePath is working as expected for each 'next/Link'

I have only tested, "adding a product to cart" and

[2021-01-20 13:34] janus-reith opened #169 "Provider: Local API Routes"
It would be possible to create a self-contained provider which works based on api routes and requires no communication with a third party ecommerce solution.
I'd like to discuss wether this would be within the scope of this project, also if submissions for something like that would be accepted in general.

[2021-01-20 13:45] janus-reith opened #170 "Provider: Reaction Commerce"
I would like to have an Integration with [Reaction Commerce](https://reactioncommerce.com/).
https://github.com/reactioncommerce/reaction

I can't commit to building it right now, but I'd love to find the time for it someday.

[2021-01-20 14:15] umarmw opened #171 "Static export info"
Hello,

I'm currently trying to export this project statically and I wanted to know if it makes sense or any best practices?

Thanks

[2021-01-20 19:52] okbel opened #172 "Provider: WooCommerce"
ecommerce provider: https://woocommerce.com/
Assigned to: @mohammadou1

[2021-01-21 03:01] lonfger opened #173 "TypeError [ERR_INVALID_ARG_TYPE]: The "name" argument must be of type string. Received null"
Hi,
When first running `npm run dev`, I was seeing the following error:
![image](https://user-images.githubusercontent.com/13881250/105274219-b94f2480-5bd7-11eb-8022-6e5db5f07bd3.png)

[code]
Is anyone here can help me to solve this problem? Thanks !!!

[2021-01-21 14:08] bbeldame commented on #173
For more information I have this problem on my windows machine and not on my macbook.

[2021-01-21 16:44] timuric commented on #159
Consider a case when navigation and footer have elaborate data structures with images and lots of categories. For example: [https://www.gucci.com/ ](https://www.gucci.com/ )
How would one decide to fetch such components, with current setup it would mean that navigation and footer data would be fetched with every page request, which is pretty wasteful.

[2021-01-21 19:43] hlopes commented on #24
Hi, I'm not sure if it helps, but here are my 2 cents on this:

The user is created successfully without any problems. However, when the login request is performed against the graphql endpoint (...framework/bigcommerce/api/customers/handlers/signup.ts), we're getting the following result:

`graphql url =  https://store-mhqee6hrg4-486614.mybigcommerce.com/graphql
query =
  mutation login($email: St

[2021-01-21 20:48] okbel commented on #24
Seems heavily related to BigCommerce, but could you put a debugger there to at least see the error coming back from BC? cc @rezakalfane

[2021-01-22 16:57] okbel opened #175 "Feature API"
# Feature API

Merging the new `agnostic` branch will require to ensure feature parity to maintain a consistent UI. Some providers do not offer features like `wishlist`, `cart` or `recommendations`, among others.

Developing a Feature API will enable Commerce to turn off and on parts of the UI based on the selected provider.
There are some caveats for this approach:

- Bundle should ship with all

[2021-01-24 16:19] mohammadou1 commented on #175
Exporting a config.json is good idea
Maybe we should create a template for it

But first we will need to see what every provider may or may not have as a default feature

[2021-01-25 20:41] michaelbromley commented on #2
I've submitted a PR for a Vendure provider: #181

[2021-01-26 01:35] Crelloc commented on #168
To be more precise, the following is a log of the error:

ready - started server on http://localhost:3000
event - compiled successfully
event - build page: /next/dist/pages/_error
wait  - compiling...
event - compiled successfully
Error occurred proxying http://localhost:4000/shop/_next/image?url=https%3A%2F%2Fcdn11.bigcommerce.com%2Fs-nhkhnjet1i%2Fimages%2Fstencil%2Foriginal%2Fproducts%2F133%2F44

[2021-01-27 00:01] jackleblack commented on #24
Up

[2021-01-27 06:44] Itsaadarsh commented on #157
Hello there, @Quynh-Nguyen can you let me know how to reproduce this particular error? And then maybe I could assist you with it.

[2021-01-27 06:45] Quynh-Nguyen commented on #157
@Itsaadarsh Hello.
It's seems fixed by the last commit.
Thank you so much for your assist.

[2021-01-27 06:45] #157 closed

[2021-01-27 06:49] Itsaadarsh commented on #157
Alright.

[2021-01-28 15:49] madroneropaulo commented on #169
Yeah, it would be nice to have a clean typescript interface that can be attached to any API.

[2021-01-28 15:53] Itsaadarsh commented on #173
Hey, there @bbeldame did you use the proper `.env.local`  variables?

[2021-01-29 03:22] blanklong28 commented on #173
@Itsaadarsh  emm.. I haven't change the .env.template to .env.local.. And which value can  I assign them?

[2021-01-29 10:22] Itsaadarsh commented on #173
Hey @blanklong28 tbh I'm also having the same doubt I'm unclear of the `.env.local` variables and their value. I thought you were past all of that so I thought I'd ask you.

[2021-01-29 13:59] okbel commented on #2
@maartenjongerius are you free to work on the Shopify integration?

[2021-01-29 14:01] okbel commented on #2
@tobiaghiraldini Send me a DM to talk about Saleor integration - @okbel tw

[2021-01-29 14:15] djodjo02130 commented on #2
@okbel I am free to work on shopify integration ! What do you need ?

[2021-01-29 15:44] okbel commented on #2
@djodjo02130 https://github.com/vercel/commerce/pull/186 - We are about to merge this one, but the contributor can no longer continue. Could you?

[2021-01-29 19:41] djodjo02130 commented on #2
@okbel For sure !
Make new branch here or tell me which way you want to work for push updates ?
And i think i need to finish the first todo list ? just give me guideline to optimize work.

[2021-01-30 00:46] hichana commented on #92
@okbel how would you recommend someone incrementally adopt the changes/features you are building? I get it that this is intended to be a starter, but even as such there would be a huge benefit in taking advantage of them as they are rolled out. Like would one simply use the starter and then watch this repo looking at each change and cherry-picking what to merge in?
Thank you

[2021-01-31 03:59] joedooley commented on #172
Hey @mohammadou1 / @okbel. I was wondering if you guys wanted some help with this ticket?

[2021-01-31 06:36] mohammadou1 commented on #172
Hi @joedooley, I would be pleased if you took a look at the repo and saw what you can PR to it,

https://github.com/mohammadou1/commerce/tree/feature/woocommerce

in GraphQL perspective, its almost done and will pushed soon,

[2021-01-31 23:19] joedooley commented on #172
Hi @mohammadou1, Looks like your off to a solid start!

I'm comfortable working on whatever would be most helpful. With that said... it would take me a little while to wrap my head around the data layer and creating the gql queries/mutations for the server calls to the WC api endpoints.

Is there something that's a little higher level that I could work on at this point in time? For example, begin

[2021-02-01 20:15] marceloF5 opened #188 "Remove import never user in Avatar.tsx"
I found an import never used in the file.
I just opened this issue in order to associate with my PR.
Feel free to review it.

PR: #189

[2021-02-02 00:22] #188 closed

[2021-02-02 00:23] marceloF5 commented on #188
This issue was resolved in this PR #189

[2021-02-03 12:37] delros commented on #164
Hi @okbel, @cellmanguney
Do we have already any progress in the scope of SFCC provider integration? If this can be possible, I would like to join the integration efforts and contribute there

[2021-02-04 19:43] robbieaverill commented on #175
A schema for config.json might be nice too, to keep everyone in line!

[2021-02-04 19:44] robbieaverill opened #193 "Provider: Commerce.js"
## Provider: Commerce.js

eCommerce Provider: https://commercejs.com

More details TBC

[2021-02-05 14:56] cellmanguney commented on #164
Hi @delros
I have started the integration roughly, set a on-demand Sandbox with commerce API ready with ShopAPI user. Which can connect now.
I couldn't find a time for deep dive yet ), any effort would be more than welcome.

[2021-02-05 21:06] #105 closed

[2021-02-06 00:27] delros commented on #164
@cellmanguney ok, that's sounds good enough :) let's start and try to collaborate then. Can we have short call or chat? Where can I contact you?

[2021-02-07 21:39] snax4a opened #195 "Blog page not using next/image and content keeps jumping"
Hello I saw that this page https://demo.vercel.store/blog is not using next/image component as the content is jumping up and down when refreshing the page and this jacket image is being loaded.

Will next/image component solve this issue?

[2021-02-09 01:08] fandy opened #196 "502 BAD GATEWAY (installing to Vercel)"
Getting this annoying error frequently when installing the app to Vercel. I installed it fine yesterday. Seems to be something that's down from BigCommerce's API?

![image](https://user-images.githubusercontent.com/19108762/107301338-4eac3e80-6a49-11eb-8104-5495d1e0bcc0.png)

[2021-02-09 16:18] fandy commented on #40
@okbel this error has come back. I've tried yesterday and today and had the same issue (unable to install).

[2021-02-10 13:25] fsuaterdogan opened #197 "We don't want BigCommerce"
Hello, we are only working on a prototype project as a team. That's why we don't want to use BigCommerce. How can we remove BigCommerce from the project? I would be glad if you could help.

**Note: I cloned the project and changed .env.template to .env.local.**

Thanks

[2021-02-10 13:59] magicspon opened #198 "How is the content translated on the demo?"
https://demo.vercel.store/es

Where is the spanish translations defined?

I can't see anything in bigcommerce, and i'm struggling to find anything in this code base.

thanks

[2021-02-10 22:20] wtLau commented on #197
I think it would be a good start to state what do you want from this project? Let's say if you don't want BigCommerce, do you want another eCommerce platform or just the UI of the app?

[2021-02-11 09:24] petermekhaeil commented on #198
Next.js has built-in support for internationalized (i18n) routing:
https://nextjs.org/docs/advanced-features/i18n-routing
https://github.com/vercel/commerce/blob/master/next.config.js#L10

BigCommerce (the backend provider behind the demo) supports locale according to the APIs to fetch the products:
https://github.com/vercel/commerce/blob/master/framework/bigcommerce/api/operations/get-all-product

[2021-02-11 12:37] JusticeBringer commented on #197
@wtLau Let's assume I would keep the UI of the app but implement my own functionality for the eCommerce platform. That would mean that I'm fetching the data from my Mongo database, display the products to the users and I would have Stripe integration for the payment. What would be the general steps to accomplish that?

[2021-02-11 12:39] JusticeBringer commented on #141
I would also like to know the answer for this question.

[2021-02-11 15:48] waynetheisinger commented on #197
@JusticeBringer - you might like to fork https://github.com/vendure-ecommerce/vendure as that is an ecommerce node based backend and according to the author "Vendure supports multiple databases. Currently it is tested with MySQL/MariaDB, PostgreSQL, SQLite and SQL.js. Since Vendure uses TypeORM to manage data access, it can theoretically also work with CockroachDB, Microsoft SQL Server and MongoDB

[2021-02-11 19:34] DeanDeBlock commented on #72
Hi, @dinohamzic, I am currently working out a proof of concept for the Solidus (Graphql extension) backend + Commerce storefront

The commerce codebase relies on the shape of the Graphql's responses (BigCommerce), so I will probably be making some kind of translation for the Solidus graphql responses

Are you also working on this?

[2021-02-11 20:02] okbel commented on #197
Hello! We're about to ship the agnostic branch and we will ship with Shopify and more providers. Thank you!

[2021-02-11 20:02] #197 closed

[2021-02-11 20:04] okbel commented on #196
We're checking with the team! Could you explain the steps to reproduce? Normal deployment of Next.js Commerce?

[2021-02-11 20:04] #198 closed

[2021-02-12 07:58] chibicode commented on #196
Are you signing up to BigCommerce or are you logging in to an existing store?

<img width="696" alt="Screen Shot 2021-02-11 at 11 57 52 PM" src="https://user-images.githubusercontent.com/992008/107743012-f97c6100-6cc4-11eb-8ef7-8ab38a47c6f0.png">

[2021-02-12 09:02] okbel commented on #72
@DeanDeBlock Could you please check the agnostic branch?

[2021-02-12 09:24] okbel commented on #2
https://github.com/vercel/commerce/pull/199 💃

[2021-02-12 09:24] #2 closed

[2021-02-12 09:27] #4 closed

[2021-02-13 13:26] AdityaAnand1 opened #200 "Is there a way to just use the frontend of this repo with our own custom APIs?"
The design and cart/order flows of this repo are an excellent starting point, would be great if we could just utilize the frontend theme alone to build custom e-commerce stack.

Is there a way to do this?

(Context: I'm not using BigCommerce, but working on something that would output stores such as BigCommerce/Shopify, so one level up the stack)

[2021-02-13 13:31] AdityaAnand1 opened #201 "Is there a way to view dummy data/components alone?"
Trying to decouple and re-use the frontend components from this repository. Is there a recommended way of viewing all the components with various states in a UI, say such as story book?

Any other recommendations for doing something like this?

[2021-02-13 13:50] AdityaAnand1 opened #202 "Improve README/setup instructions"
This is an incredibly knowledge dense repository, I'd love to learn more about it, not just to use it but also how to work my way through it, make modifications and contributions etc.

Ideas for better documentation:

1. Add a wiki
2. Explain folder structure
3. High level architectural decisions
4. Tech stack and libraries used
5. Extended contribution guidelines
6. Showcase agnostic UI modularit

[2021-02-14 05:00] mike-j-king commented on #196
+1 seeing same issue. Error occurs after selecting any of my bigcommerce stores when logging in to an existing store

[2021-02-15 14:19] DeanDeBlock commented on #72
Looking good @okbel !

let me try and get a test version up and running and I'll get back to you

Cheers

[2021-02-16 13:30] FBosler opened #203 "What is codegen.json used for?"
Amazing repo, documentation is a bit thin though :)
I was wondering what is `codegen.json` for? I ran `yarn generate` but got an error around authentication. On a closer look into codegen.json, it doesn't look like those credentials are actually being used?

[2021-02-17 20:11] eclipse3161 opened #204 "multi-currency and multi-language are not working in production"
I can't seem to get NexSJ to work with multi-currency and multi-language are not working on production. For some reason nextJS is blocking calls to location API so multi-currency and multi-language. see video
https://www.dropbox.com/s/4jtn3juqh4vfluk/locale%20test.mkv?dl=0

any help is appreciated

[2021-02-17 21:19] eclipse3161 commented on #159
Hi

I'm building Multi currency and Multi language store using vercel and Big commerce. the only issue currently I'm having is nextJS is blocking calls to location API so multi-currency and multi-language are not working see link below
https://commerce-hupmzfomo.vercel.app/

[2021-02-18 07:19] Fasunle opened #205 "The environment variable BIGCOMMERCE_STOREFRONT_API_URL is missing"
Error: The environment variable BIGCOMMERCE_STOREFRONT_API_URL is missing and it's required to access your store
--

[2021-02-18 10:22] meesrutten commented on #161
@AaronAmstutz It seems the integration @petermekhaeil is creating is not yet finished. Maybe you can come into contact with him to advance the integration further?

[2021-02-18 15:07] petermekhaeil commented on #161
The Vercel team is working on it. See https://github.com/vercel/commerce/pull/186

[2021-02-20 05:03] #205 closed

[2021-02-20 21:53] bbeldame commented on #173
I fixed my issue and it had nothing to do with macbook/windows. Only that when I copy pasted the .env that I wanted, it added some formatting (I copied from Notion). I didn't see that it changed the formatting so the error was just that the BIGCOMMERCE_STORE_API_URL and BIGCOMMERCE_STOREFRONT_API_URL were badly typed.

[2021-02-23 17:26] avisra commented on #64
+1 on this. It is a bit upsetting that (without a lot of effort) we have to leave the BC shop UX live and available to the public in order to easily integrate checkout (e.g. demo store is relying on https://acmedemo.mybigcommerce.com).

Ideally, it would be integrated much like cart and other options. Otherwise, the embedded checkout seems like  a fair compromise so we can at least keep things on

[2021-02-23 17:42] robbieaverill commented on #64
In #175 there is some discussion around a "feature API" for various providers to opt in or out of various features. I think that in this case, if BigCommerce/Shopify/other providers don't support building checkouts natively into your application, then it could be feature flagged to use an external checkout [status quo] instead (or disable a native checkout which this issue would build). Fully head

[2021-02-24 05:45] avisra opened #206 "Login does not persist to checkout"
You can reproduce this on the Vercel demo store by signing up for an account, adding products to your cart, and then clicking through to checkout. Upon landing on the checkout page, it thinks I am a guest - instead of recognizing my user.

[2021-02-24 15:06] ahmadsyed opened #207 "Customer Group wise discount not available/working"
I am trying to show the original price(strikethrough) and discounted price both on the product page based on the customer groups. This feature is working fine at the bigcommerce provided storefront but in this storefront, I can only see one price. Am I missing anything here? Is this feature is not available? is there any way to achieve the same?

[2021-02-24 17:44] nikitasol commented on #133
@okbel Hi! Is it possible that there is something missing on the bigcommerce end when creating a development storefront following easy setup option here: https://nextjs.org/commerce?

Dev docs for BigCommerce state that each language should have a separate storefront. From what I can see there is only 1 vercel storefront and there is no possibility to add additional ones, which is great as I would

[2021-02-24 18:32] AmazingTurtle commented on #133
After digging into the code I found that you can access overrides for fields like title and description for each language via the Product metadata (only accessible via API, no GUI). The namespace for the product metadata is the locale, e.g. en or de.

[2021-02-25 04:57] prophet1996 opened #208 "Provider: Strapi"
[https://strapi.io/](https://strapi.io/)
I can contribute as well.
Regards and Thanks for this great project.

[2021-02-25 11:08] nikitasol commented on #133
Thanks for the update @AmazingTurtle. Will have a look.

[2021-02-25 19:21] frannunezrivera commented on #24
Ok, I could revisit this today and I've found the issue.

You just need to go to your store settings page [[youstore].mybigcommerce.com/manage/settings/store]([youstore].mybigcommerce.com/manage/settings/store) and disable maintenance mode.

Although signup works, singing in while in maintenance mode returns this error with no context.

cc: @gr-qft I believe you can close this issue now.

Regards.

[2021-02-25 19:36] gr-qft commented on #24
@frannunezrivera Thanks a lot for the hint, I've not had a chance to come back to this issue but I'll close it now.

Best!

[2021-02-25 19:36] #24 closed

[2021-02-26 05:55] eugenelim opened #210 "Provider: Elastic Path"
Headless Ecommerce provider: https://elasticpath.com

[2021-02-27 18:16] AdityaAnand1 commented on #200
@okbel @lfades any thoughts?

[2021-02-27 18:16] AdityaAnand1 commented on #201
@okbel @lfades any thoughts?

[2021-03-01 00:10] jeanmaried opened #214 "No mobile navigation"
Correct me if I'm wrong but there doesn't seem to be any mobile navigation. Is there a plan to add a hamburger/drawer menu?

[2021-03-01 14:49] okbel commented on #214
Will add this to the kanban! Thanks!

[2021-03-03 14:26] jorgemasta opened #215 "Get orders"
I'm working in the **BigCommerce** provider and we want to be able to fetch the orders (right the Orders page is empty)

I was looking #2 and #199 but I can't decide on a solution. Possible solutions:
1. Add the `orders` in the `useCustomer` hook
2. Create a new hook `useOrders`

What do you recommend? @okbel @lfades

[2021-03-04 05:31] avisra commented on #206
Hey all,

I actually managed to solve this myself. I'm not sure why Vercel hasn't done a similar thing with their demo store. And ideally, this workaround wouldn't be necessary (I would rather be able to authenticate the checkout without sharing cookies).

Instead of using the default BigCommerce store URL, I setup a url like checkout.mywebsite.com. And my headless shop is www.mywebsite.com. In my

[2021-03-04 10:58] okbel commented on #175
https://github.com/vercel/commerce/pull/199

[2021-03-04 10:58] #175 closed

[2021-03-04 21:43] matigda commented on #167
IMO besides all of the integration there is one product type in Magento that will need some additional work on types.
This product type is called "bundle product" - https://docs.magento.com/user-guide/catalog/product-create-bundle.html
Basically it is one product that has other products in it. Each of the "inner product" can have different price, can have different sizes and colors to choose from

[2021-03-06 00:46] OuthBack opened #217 "Warning: Expected server HTML to contain a matching <span> in <span>."
![image](https://user-images.githubusercontent.com/65133825/110188898-1f94ad00-7dfc-11eb-8f20-81abeaa84947.png)
![image](https://user-images.githubusercontent.com/65133825/110188922-39ce8b00-7dfc-11eb-9c76-be1042ea8abe.png)

[2021-03-06 08:49] andyleehao opened #218 "No individual signup page?"
When a new user without signup, then proceed to checkout, then go to Bigcommerce checkout page. When on this page to sign up, it will show 404. https://demo.vercel.store/signup

[2021-03-06 20:15] codemem commented on #159
Nextjs is not blocking you. It's browser behaviour. If you access geoip by https (you are using http). It will work

[2021-03-07 14:09] mrhut10 opened #219 "BigCommerce API keys"
Apologies if this is straightforward new to the project and to using bigcommerce. having trouble with getting api keys setup.

Background on my attempts so far:
Attempt # 1
1. used the `Deployed with Vercel` button.
2. tried to link to local project but didn't pull down env variables ( listed as secrete in the vercel manage project area )

Attempt # 2
1. tried to generate my own api keys via bigco

[2021-03-07 22:13] mrhut10 commented on #219
after much looking found #13 which mentions
`vercel env pull .env.local`

which has fixed my problem.

I'll close the issue, should be mentioned in this project docs however.

[2021-03-07 22:13] #219 closed

[2021-03-08 12:28] DeanDeBlock commented on #72
Hi @okbel ok Still some things to do, but getting there https://solidus-vercel-front.herokuapp.com/

How do we go from here, shall i request a pull on the `canary` branch from my fork ?

[2021-03-08 20:50] Quinten-6wines commented on #207
Hi @ahmadsyed, I was struggling with the same problem. I found that the results when you request product info only provided:

1. price

The price set as the default price or sale price when you edit your product  the price set in the price list.

They overwrite eachother. so: picelist price->salePrice-> defaultPrice.

2. salePrice

That is the price after all discounts (Set by Marketing->Promotion

[2021-03-08 21:39] s1njar opened #220 "Provider: Vendure"
E-commerce Provider: https://www.vendure.io

Regards and Thanks
for this great project.

[2021-03-08 22:16] lfades commented on #200
@AdityaAnand1 We're aiming to take the project there, where it can support different providers and it's agnostic to whatever provider you choose

[2021-03-08 22:16] #200 closed

[2021-03-08 22:19] lfades commented on #215
A new hook for `useOrders`. Feel free to create a PR that adds the hook and a UI for it 👍 . We're currently working in making the demo very agnostic but new features are welcome.

[2021-03-08 23:36] lfades commented on #201
We currently don't have anything set up for this. But I'm welcome to hear some ideas 👀

[2021-03-09 08:47] ahmadsyed commented on #207
Hi @Quinten-6wines
Thanks for the feedbacks, Actually there are two ways (as I found till now) to show discount on the storefront,
1- you can add different prices on each product as you mentioned (Most probably your last solution will work in this case)
2- You can add customer groups (like dealer/retail) to apply a default discount on products/product-category/all products etc based on the custome

[2021-03-09 22:07] lfades commented on #161
Closing because we now have a Shopify provider.

[2021-03-09 22:07] #161 closed

[2021-03-09 22:14] lfades opened #221 "Add missing core schema types"
Currently the folder `framework/commerce` has the core schema types that must be used by every provider. Currently only some types are available: https://github.com/vercel/commerce/blob/master/framework/commerce/types.ts#L10-L92

MIssing core types should be included there too so we can stop using `any` in different places on the UI. The task is to replace the types that have a *TODO* with a prope

[2021-03-10 13:41] loan-laux commented on #170
For anyone interested, I'm currently working on a provider for RC... I have the home page, categories page and PDP working. Still very much a WIP, the cart and checkout system isn't wired up yet for example. I'll post updates when I have more.

https://user-images.githubusercontent.com/45489203/110637588-fe9ad600-81c6-11eb-9cf6-3eb08cb29bde.mov

[2021-03-10 14:22] michaelbromley commented on #220
The PR got stale after a bunch of updates to the `agnostic` branch. I'm actually working on an updated PR right now!

[2021-03-11 05:03] lfades opened #224 "Unify the Node.js API for providers"
Currently we have API methods that work under `/api/bigcommerce/*` that applies for all providers. The API used for the Node.js side of the commerce demo should be unified in a similar way of the agnostic provider we currently have for the UI hooks.

[2021-03-11 10:17] FBosler opened #226 "When going through the UI (to clone and deploy) bigcommerce has to be selected"
Would it make sense to include Shopify here also? I understand it's fairly new. But I think it's an amazing addition.

![image](https://user-images.githubusercontent.com/14016698/110771972-67cc2900-825b-11eb-95f9-1c9c9af5d720.png)

[2021-03-12 01:58] vczb opened #228 "[BUG] Error to remove last item from the cart"
When I went to remove the last item from the cart this error happened

![cart-error](https://user-images.githubusercontent.com/51221635/110880083-d1305400-82bc-11eb-8367-ad2c6125d5c3.png)

*console:*

![cart-console-error](https://user-images.githubusercontent.com/51221635/110880257-1a80a380-82bd-11eb-8f71-f04b7dbf4f82.png)

I made a video showing the problem

https://www.loom.com/share/6f34f25137

[2021-03-12 15:36] lorenzorivosecchi commented on #167
Sorry, i am no longer able to work on this.

[2021-03-12 15:36] #167 closed

[2021-03-12 16:12] ahmadsyed opened #229 "[BUG]logout not working in demo site"
Hi,

I noticed in my deployed site that if a customer clicks log out, and then refreshes the page, he gets login again. Also, I Confirmed the same on the Demo site and saw the same bug present over there also.
It's only happening in Deployed sites, on the local cookie is getting deleted fine.
Is everyone else seeing the same in their installations?

[2021-03-12 23:28] lfades commented on #229
I can't reproduce this bug 🤔 . Are you on the bigcommerce demo or the shopify demo?

[2021-03-13 02:16] dgroch commented on #172
I’m looking at contributing to this project so we can migrate our large woocommerce site to NextJs.

On the graphql front, am I correct in thinking BigCommerce / Shopify offer graphql APIs which are consumed by the nextjs app whereas with woocommerce we need to develop our own resolvers (or find a plug-in)?

And the reason it’s preferred to adopt graphql rather than consume the standard woocommerc

[2021-03-13 02:24] mohammadou1 commented on #172
Hello buddy, would appreciate if you do check my repo and contribute

Right now i stopped the progress in order to adapt to the changes next team made on agnostic branch

You have a valid point, but there is a highly usable free gql plugin that am using, which will be published alongside woocommerce implementation as zip folder

Why am using it?

Because it supports cart and easliy usable with aut

[2021-03-13 02:28] mohammadou1 commented on #172
I will push the latest update tomorrow hopefully and if you wish then we can have a conv where we can work on supporting both options even though rest is limited while accepting it??

And still one of the biggest woocommerce limitations is multi languages which is another story for another night

[2021-03-13 02:34] mohammadou1 commented on #172
And you're 100% right

Most implementation use CoCart for rest api cart implementation

But if I was gonna use it to support the cart only, then I need to take into consideration that some people will use other plugins and need to find a way to let them choose their cart functionality between default cart and cocart

[2021-03-13 03:47] willopez commented on #172
@mohammadou1 I am interested in contributing to this provider, once you integrate the agnostic UI updates, I would like to see how I can help.

[2021-03-13 17:10] devmiro commented on #226
Of course, I'm looking for shopify integration, it's best for Brazilian market.

[2021-03-14 21:14] dkershner6 opened #231 "Publish frameworks as separate packages"
I am considering using next.js commerce for a future project, but am worried about updating as frameworks change, as all of my customizations would likely trigger merge conflicts.

Having frameworks be separate packages would alleviate this concern, and should be a small effort.

[2021-03-16 13:52] okbel opened #233 "Improve errors from Providers"
Sometimes BigCommerce API fails and it's really hard to track what's wrong.

[2021-03-17 02:26] jjranalli opened #235 "Only up to 10 variants can be retrieved from a product"
I've reproduced the issue [here](https://commerce-eight-jet.vercel.app/product/mesh-back-snapback). This is a product with 12 variants, and you can see the last two (yellow-M and yellow-L) have an 'undefined' variant ID. The same issue can be reproduced with any combination of variants, as soon as their total number exceeds 10.

The cause seems to be that when fetched using getProduct(), the numbe

[2021-03-17 07:25] lfades opened #236 "Remove duplicated config in commerce provider"
The provider object should be the unique source of truth, currently there's also an additional config object that can be sent to the commerce provider.

[2021-03-17 12:52] jjranalli commented on #235
Upon further inspection on BigCommerce API, there does seem to be a limitation of 10 results per page whenever 'options' or 'modifiers' is used [documented here](https://developer.bigcommerce.com/api-reference/store-management/catalog/products/getproductbyid).

The issue can probably be solved by using the [get all product variants](https://developer.bigcommerce.com/api-reference/store-management/

[2021-03-17 22:35] DanielHirunrusme opened #238 "[BUG] Shopify cart item link 404 (possible solution)"
When clicking the cart item, in sidebar or cart page, it causes a 404 error. Not sure if this https://github.com/vercel/commerce/projects/1#card-56090696 is related to the 404 or just being able to click.

I fixed this by:

shopify > utils > normalize.ts
[code]

then added product {handle} to query below

shopify > utils > queries > get-checkout-query.ts
[code]

Then the {item.path} should no long

[2021-03-18 09:14] cond0r commented on #238
@DanielHirunrusme thanks for pointing out the issue & solution

[2021-03-18 15:37] Julianwan commented on #29
Has anyone found a solve for this? Just curious... I'm having a similar set of issues

[2021-03-18 20:55] #235 closed

[2021-03-19 18:32] okbel opened #241 "THEMES!"
We should discuss Theming. 🤔

[2021-03-19 18:33] okbel commented on #238
Amazing! Looks like this PR solved it. Thank you both!

[2021-03-19 18:33] #238 closed

[2021-03-19 18:34] okbel commented on #231
Not in the roadmap right now. But we will explore that in the future. Thanks!

[2021-03-19 18:34] #231 closed

[2021-03-19 18:36] okbel commented on #228
Why is everything in uppercase? 🤔  https://demo.vercel.store/product/lightweight-jacket

[2021-03-19 21:23] ahmadsyed commented on #229
Hi, Thanks for the reply. I am working with bigcommerce. Here is the URL [https://demo.vercel.store/]. Please try to replicate here.

[2021-03-20 00:46] vczb commented on #228
Hello, I don't know why everything is in uppercase, but debugging on the console I found a property that when I remove it comes out of the uppercase

[code]
My Google Chrome is version 87.0.4280.141 64 bits

Linux Mint 20 Xfce 64 bits

About the cart item, I tried it on firefox too and the item doesn't come out

I'm going to make a short video to help

https://www.loom.com/share/9cc9de86c85b4196a9

[2021-03-23 07:34] amesas commented on #241
Tailwind themes is enough for our scenario.

My idea for Next Commerce, is more a: create your own frontend-store, quick and easy with powerful tools.WooCommerce idea of: use our plugins / templates, where everything looks more or less the same, and customizing is not that easy. Cause then you have to track upstream plugins/templates.

[2021-03-23 09:01] whatisaghostwriter commented on #203
Within codegen.json you have to replace the default config with your own websites auth and graphql api.
"schema": {
    "https://{STORE-ID}.mybigcommerce.com/graphql": {
      "headers": {
        "Authorization": "Bearer {API-KEY}"
 }
}
From my understanding it generates the output schema.d.ts, schema.graphql files. I don't have in depth knowledge, but graphql provides a lot of benefits it just t

[2021-03-23 10:52] ahmadsyed commented on #229
Hi, @lfades
Do we have any updates on this bug. or any workaround, for now, would be much help full.

[2021-03-23 15:40] DanielHirunrusme commented on #241
In a Shopify scenario, this means everyone uses the Debut theme and changes the styles. This would be extremely limiting.

For one example, the vercel/commerce theme is a 2 column layout with a slideshow. What if the user wants a single column and no slideshow? They could change @components/ProductView, but would run into upstream merge conflicts. Then, the more customization to the @components th

[2021-03-23 20:06] DanielHirunrusme opened #243 "Sold Out button on PDP (possible solution)"
Currently, a user can add items to the cart when an item inventory is 0. Not good. Below is a possible solution. This does not solve variants available/sold out however.

For Shopify provider, I added "totalInventory" to the query.

[code]

[code]

then in productView I added

[code]

Suppose this would need to be normalized for other providers. Also, adding option to continue selling if item is s

[2021-03-23 23:01] lfades commented on #229
@ahmadsyed I'll take a look tomorrow 👍

[2021-03-25 16:46] eltel commented on #30
Thanks for the help - so many inconsistencies in the variable names here it's giving me a real headache!

[2021-03-25 16:51] eltel commented on #30
Can anybody tell me how to get the BIGCOMMERCE_STOREFRONT_API_TOKEN - the instructions are non-existent on the BigCommerce site - there is some obscure reference to making an API call to get the token but no instructions on how :(

Thanks

Terry

[2021-03-25 17:37] eltel commented on #30
So, after linking via the Vercel CLI -
`vercel env pull .env.local`
- worked for me, however, the CLIENT ID and BIGCOMMERCE_STORE_API_TOKEN are different from the ones downloaded from BigCommerce - I swapped them out for the ones I downloaded from Bigcommerce and yes, it's still working locally - however, I've got a feeling that the BIGCOMMERCE_STOREFRONT_API_TOKEN (the main variable I had trouble

[2021-03-26 10:31] FBosler commented on #226
Is there any news on this?

[2021-03-26 13:29] okbel commented on #226
Yeah, we're going to add them all. Can't give an ETA today, but definitelly.

[2021-03-26 13:29] #226 closed

[2021-03-26 13:39] okbel commented on #243
cc @cond0r

[2021-03-26 21:02] DanielHirunrusme opened #245 "[BUG] Shopify | Checkout working localhost but not production"
Test website: https://commerce-seven-tawny.vercel.app/

The website goes to Shopify hosted checkout fine on localhost. However, I'm getting a 404 on production (using Vercel).

I can see the shopify_checkoutUrl cookie being created with correct checkout url. Not sure why the next redirect is not triggering. Any thoughts here? @okbel / @cond0r ?

Thanks.

[2021-03-26 21:43] cond0r commented on #245
@DanielHirunrusme  Looks like the provider is not set to shopify in commerce.config.json for that deployment.
It works on mine on vercel, works on https://shopify.demo.vercel.store & on your other test site (https://shopify-test-danielhirunrusme.vercel.app).

[2021-03-26 22:04] DanielHirunrusme commented on #245
@cond0r Thank you for the reply. Just checked and it looks like the commerce.config.json is set to Shopify on my end. =/

Just finished another build with commerce.config.json with wishlist false and Shopify provider on in every commerce.config.json.

Indeed strange it works on the demo store and test I created, but not this build. Trying to figure out why.

[2021-03-26 22:11] cond0r commented on #245
@DanielHirunrusme yes, very strange... if you go directly to https://commerce-bl8j1r3uj-danielhirunrusme.vercel.app/api/bigcommerce/checkout the redirect to checkout works... but on your deployment, the rewrite  from /checkout to /api/bigcommerce/checkout doesn't happen.

[2021-03-26 22:19] DanielHirunrusme commented on #245
@cond0r could it have something to do with next.config.js?

These are my setting right now. The below files should be up-to-date with the master branch

next.config.js

[code]
commerce.config.json
[code]
with-config.js
[code]

[2021-03-26 22:47] cond0r commented on #245
@DanielHirunrusme you have the vercel.json on root folder, where you config the rewrite... I think that overwrites the rewrites from next.config.js

put there { source: '/checkout', destination: '/api/bigcommerce/checkout'}

[2021-03-26 23:10] DanielHirunrusme commented on #245
@cond0r wow, bingo! That was exactly the issue. All checks out fine now. Thank you very much for the help here, much appreciated!!!

Excited to share the store in a few weeks if it helps. Will include Sanity + Algolia + ReCharge subscription + more Shopify-based customer profile actions (saw Sanity in the kanban).

[2021-03-27 08:49] cond0r commented on #245
Nice... by the way, you can remove vercel.json completly (you don't need for next.js on vercel)
https://vercel.com/docs/next.js/overview#no-configuration-required

[2021-03-27 21:46] #245 closed

[2021-03-27 23:09] ahmadsyed opened #247 "latest changes not showing up from big-commerce data hooks"
Hi,

I am having some bugs/feature-requests like (persist session on checkout, a bug in a logout, etc). I saw in the bigcommerce-data-hook repo, they have pushed a new release [store-front-data-hooks release](https://github.com/bigcommerce/storefront-data-hooks/releases/tag/v1.2.0) to fix those and more,  I need those changes in my project, will this repo be updated any time soon?  How may I get t

[2021-03-29 08:08] SaidiAli opened #248 "Custom provider not being recorgnised"
Am trying to make my own provider but when I make all the necessary changes according to  this https://github.com/vercel/commerce#how-to-change-providers, it is still not recognised.
I get this error: `The commerce provider "mycommerce" can't be found, please use one of "bigcommerce, shopify"`
How can I continue?

[2021-03-29 08:59] haegemonia76 opened #249 "development with localhost result in error"
Hello,
I'm currently developing a provider for Aquilacms and I have a weird behavior, I can't use localhost anymore when referencing my local Aquilacms development environment.

instead of `http://localhost:3010` I have to use `http://192.168.1.138:3010` or else it send me this error `queryA ENOTFOUND localhost`

Did someone change something that prevent localhost to be used ?

Full error message

[2021-03-29 11:38] cond0r commented on #248
open framework/commerce/with-config.js and add your provider there, like:
`const PROVIDERS = ['bigcommerce', 'shopify', 'mycommerce']`

[2021-03-29 12:00] SaidiAli commented on #248
Thank you so much @cond0r .
I feel like this is missing in the README so I have created a [pull request](https://github.com/vercel/commerce/pull/250) for it. Hopefully it will considered.

[2021-03-29 12:09] #248 closed

[2021-03-30 11:55] Trimud commented on #164
Hi @cellmanguney, do you need any help with this? We will be starting a new project soon and I don't want to reinvent the wheel :)

[2021-03-30 13:50] nikushx opened #253 "Add cloning for Shopify demo"
Hey Vercel Team, first off thank you for releasing the Shopify provider for Next Commerce, we've been really looking forward to this!

I noticed that you cannot clone into Vercel with the Shopify demo, you are forced to install BigCommerce. Is the demo for Shopify available somewhere that lets us clone it into Vercel?

It would be great to link it up to a development store and have a good starting

[2021-03-30 13:52] amckemie commented on #196
@fandy @mike-j-king Thanks for bringing up this issue! We're digging into this on the BigCommerce side. In order to help facilitate this and hopefully get to a quicker resolution, can you provide steps to reproduce and any additional info from the console regarding the error (which API request is resulting in that error for example)? Thank you!

[2021-03-30 14:20] seloner opened #254 "Question about frontend structure"
Hello I am following this project from the beginning . Now that the project supports more data providers like shopify how would this affect the frontend code ? For example for one provider the product type maybe is different compared to the default product . How is possible to handle specific provider type differences ? Is the solution having a single trust of truth?

[2021-03-31 18:39] ahrenpradhan commented on #253
well you can use this [shopify demo](https://shopify.demo.vercel.store/)

but I'd recommend to fork the project and deploy on vercel yourself
happy coding

[2021-03-31 19:35] seloner commented on #254
Yes but for example I want to display it for shopify but not for big commerce . I know that you can just check if the property exists and then display something if exists but I dont feel that is the best solution to handle model differences in the frontend

[2021-03-31 19:42] nikushx commented on #253
@ahrenpradhan The crux of my issue is that I do not think the demo you provided has its own repo so that we can clone the code..

[2021-03-31 19:47] nikushx commented on #253
@ahrenpradhan yes, but to clone the repo you still need to install BigCommerce for some reason. I am also not sure about using the shopify branch as it is hundreds of commits ahead of master, so I am afraid it is not ready for production use

[2021-03-31 20:02] ahrenpradhan commented on #253
You are right
And we are supposed to use the main master where we change the `@framework path` to choose Shopify framework folder
And after that remove the once you don't need and remove the package one after another, check if anything breaks

See if this works
If we only have to ignore some files and folders then I can create a PR for build script for any of the existing framework

But it all dep

[2021-03-31 21:08] nikushx commented on #253
@ahrenpradhan Good to hear. I will be exploring this in a week or two from now if Vercel team has no further input. It is possible they are expecting us to do what you have mentioned, retrofit their BC example for Shopify as it is a easy switch thanks to the agnostic adapter.

[2021-04-01 07:44] zohra-alt commented on #220
Hi!
Is there a possibility to use Next.js Commerce with Vendure provider?

[2021-04-01 08:23] loan-laux opened #257 "Support for OAuth"
@CristianCucunuba, @janus-reith and I are building a provider for Reaction Commerce (see issue #170). One caveat of RC compared to Shopify and BigCommerce is that it requires users to sign in through an OAuth flow. There's currently no built-in support for OAuth on Next Commerce.

A few things need to be taken into account to pre-wire Next Commerce for OAuth (in case individual providers require i

[2021-04-04 23:12] DanielHirunrusme opened #258 "[ENHANCEMENT] Shopify Provider // descriptionHtml for product description (solution included)"
Realized that the product description pulled from Shopify is stripped of HTML, therefore loses formatting, links, etc. Is this intentional?

imo, think it makes more sense from an editor perspective to keep html formatting. The developer can use serializers to reformat if needed. Edit below:

Added descriptionHtml to normalize.ts

[code]

Added descriptionHtml to get-all-products-query.ts
[code]

[2021-04-06 08:55] dennismorello opened #259 "Filter out falsy value in a more elegant way"
This is a minor issue regarding the way falsy values are currently filtered out from the rewrites array:

https://github.com/vercel/commerce/blob/f770ad7a91059a2ecfbb9de1bac111dfe7016124/next.config.js#L43

It would be better to replace line 43 with `filter(Boolean)`.

[2021-04-06 12:11] MarkiyanPyts commented on #164
@cellmanguney , @delros Did you have a chance to sync up on this? I am from same company with @Trimud here and we have experience in sfcc headless refapps dev would be great to have SFCC provider in Next Commerce as well. Please let us know how we can contribute and what is current status on your side.

[2021-04-06 12:19] cellmanguney commented on #164
hi @MarkiyanPyts , @Trimud
That would be great if you can participate the development, so far I couldn't make time to dive in, you can take the lead.
Also I'm fine to take part of code-reviews and fix some parts.

do you have access to Vercel Slack  ? if not @okbel can we invite @MarkiyanPyts @Trimud @delros to Vercel Slack?
We can create a channel there and keep in touch more and follow up all th

[2021-04-06 12:41] seb86 commented on #172
Let me know what I can do to help. Happy to answer any questions regarding CoCart.

[2021-04-06 13:11] MarkiyanPyts commented on #164
Hello, @cellmanguney thanks for answering,

No we don't have access to slack yet but would be great to have access to be able to better follow what's going on,

Then, let's see where we are,
short status meeting would be good to see what is the current Repo branches and so on

[2021-04-06 15:51] cellmanguney commented on #164
@Trimud
I will try to send invite to Slack, if not probably @okbel can fix that.
Meanwhile let's make a hangout call for plan. I will send you an email (the one at your github landing page)
so we can continue from there

[2021-04-06 20:45] m-w-d-d opened #261 "Single Option / Variant / Add to Cart Shopify Issue"
Hi there,

Really appreciate your work on this! Have set up a Shopify link to a cloned version of the this repo - all seems to have connected ok but have come up with a couple of issues on the product page:

- If the product has no options/variants it displays 'Title' and you cannot add a product to cart as the button is disabled
- If the product has one variant option you cannot add a product to

[2021-04-07 19:04] willopez commented on #172
@mohammadou1 just wondering if there is any active development on this?

[2021-04-07 19:27] mariusa opened #262 "TypeError: Cannot read property 'url' of undefined"
I've cloned the repo and followed steps 3-7 at
https://github.com/vercel/commerce#contribute

.env.local
[code]

but get this error:
[code]

Thanks

[2021-04-08 10:53] cond0r commented on #262
@mariusa one of your products doesn't have an image

[2021-04-08 16:04] mariusa commented on #262
Thanks for the fix! Looking forward to test it.

[2021-04-09 02:08] achadee opened #265 "When will the shopify provider be available on vercel.com ?"
Hi there,

Im trying to install the shopify provider on Vercel but I get the following screen:

![Screen Shot 2021-04-09 at 12 08 00 pm](https://user-images.githubusercontent.com/5952918/114118484-3d3dc080-992c-11eb-8d8f-a1289d50f8aa.png)

Is there a way I can do it without going through a wizard? I can't find the docs.

[2021-04-09 02:30] DanielHirunrusme commented on #265
@achadee See https://github.com/vercel/commerce/issues/253

[2021-04-09 12:02] FBosler commented on #265
@achadee  also see (#226)[https://github.com/vercel/commerce/issues/226]

[2021-04-09 22:24] Jeremy-Logan commented on #261
I had this problem too and noticed that there is a prop "disabled={!variant && product.options.length > 0}" in the cart button in components/product/ProductView/ProductView.tsx. After commenting the prop out the cart works fine. Couldn't tell you if taking it out has other side effects though.

[2021-04-10 01:37] THPubs opened #266 "Is shopify lite enough?"
Shopify have a lite plan for just 9 USD ([https://www.shopify.com/lite](https://www.shopify.com/lite)) which only offers the basics. Will this be enough for NextJS Commerce platform?

[2021-04-10 04:29] clockelliptic commented on #261
This could be some sort of data type error.

Check `ProductView.tsx` line 32, the state setter `setChoices`:

[code]

You may need to update the initial state object to match the actual choices available for the given product.

In which case you would also have to update the typescript helper definition for `SelecedOptions` found in `../helpers.ts`.

[2021-04-11 04:27] Popeyef5 commented on #172
Hi @mohammadou1! I'm also interested in this. How's it going along? Is there anything we can do to help?

[2021-04-11 11:10] cond0r commented on #266
@THPubs Yes, it works. You have the order & product management on Shopify Dashboard with the Lite plan, and you have access to Storefront API that NextJS Commerce uses.

[2021-04-12 07:03] achadee opened #268 "How does getStaticPaths handle new products / collections / blogs being added"
We have a lot of products/collections and are adding close to 10/15 a week.

I notice that to load the paths you use `getStaticPaths`

Does this mean that we need to redeploy the app every time a new product/collection/blog is added? so it can load paths etc

If this is the case would the best solution be to build some sort of CRON job on a lambda to rebuild the client on its current commit? Is th

[2021-04-12 07:25] ugurtemiz commented on #164
Hi @cellmanguney and @okbel ,
I would be happy to contribute as well. Can I also join to the team/slack channel etc?

[2021-04-12 08:31] cond0r commented on #268
@achadee If you host your site on Vercel, you benefit from [Incremental Static Regeneration](https://nextjs.org/docs/basic-features/data-fetching#incremental-static-regeneration). When you post a new product it will regenerate homepage and product pages while users visit your site.  Also pages like this https://demo.vercel.store/search?q=clothes grabs latest data with [SWR](https://swr.vercel.app/

[2021-04-12 10:40] achadee opened #269 "Code-Gen not picking up templateSuffix shopify type"
This is probably not a vercel/commerce issue, but posting here as it might help someone else with the same issue.

Im trying to add the `templateSuffix` type to a query, but code-gen has not included it in the `schema.d.ts` . Even after I manually add the type and query I get the error:

[code]

it's worth noting that I can query other fields on the collection, and I can successfully query the tem

[2021-04-12 10:41] achadee commented on #268
Thats actually so good! Im so relieved that I don't need to code that!

[2021-04-12 10:41] #268 closed

[2021-04-12 11:25] cond0r commented on #269
@achadee  it shows that error because it isn't supported in **Shopify Storefront API** https://shopify.dev/docs/storefront-api/reference . You successfully queried that into Shopify's Playground, because you used the **Admin API** Playground.

If you need to access the Admin API, you have to authenticate like it says here to get the access token:
https://shopify.dev/tutorials/authenticate-a-privat

[2021-04-12 11:33] achadee commented on #269
Ahh I feel so stupid! That makes so much sense. I always assumed the functionality was more or less the same for reading objects between the 2 API's

Thank you again! @cond0r

[2021-04-12 11:34] #269 closed

[2021-04-12 14:38] okbel commented on #164
Absolutely, can you hand me your emails through Twitter DMs? @okbel @MarkiyanPyts @ugurtemiz @Trimud

[2021-04-12 14:39] #265 closed

[2021-04-12 14:40] #262 closed

[2021-04-12 14:41] okbel commented on #172
LMK if someone feels proficient enough with WooCommerce to add https://github.com/mohammadou1/commerce/tree/feature/woocommerce to this repo, as a provider. Thank you!  🙏

[2021-04-12 14:47] okbel commented on #257
Hello @loan-laux !

There's no support for integrations to select provider here, because that part is being handled by Vercel (or the support system deploying a Next.js Commerce). We support the OAuth dance there when you deploy a Next.js Commerce. This storefront should not ship with any additional code, more than the storefront configuration needed.

But to your point, if you'd like to work on a

[2021-04-12 14:55] Popeyef5 commented on #172
@okbel the documentation https://github.com/vercel/commerce/blob/master/framework/commerce/new-provider.md says that there's currently a refactor going on. Should we wait for an announcement or can we just mimic the structure in the current shopify and bigcommerce framework implementations?

[2021-04-12 15:41] mohux commented on #172
Hello, yes there is a refactor going on right now

I will push the roadmap of it soon, my sincere apologise for slow progress

Feel free to dive in the repo and tag along

Will push the roadmap ASAP

[2021-04-12 15:43] mohammadou1 commented on #172
Hello, yes there is a refactor going on right now

I will push the roadmap of it soon, my sincere apologise for slow progress

Feel free to dive in the repo and tag along

Will push the roadmap ASAP

[2021-04-12 15:43] mohammadou1 commented on #172
Yes there is, even though its slow,

[2021-04-13 00:45] achadee commented on #269
@cond0r is it secure/safe to code up an interface to the Admin API on the client as long as its run on SSR? I'm modifying the current interface with a "isAdmin" field that changes the query and headers

[2021-04-13 05:41] cond0r commented on #269
@achadee Yes on SSR is safe... When i said client, i said more to not expose or use Admin API by replacing the fetcher and to use that api on search pages or on get checkout / cart. Because one of your users can see the request with token... But if you do it on SSR you are safe.

You can change  /framework/shopify/api/utils/fetch-graphql-api.ts file to use the Admin API by replacing the API_URL wi

[2021-04-13 06:46] ninecodes opened #271 "Add more platforms and add PWA support"
Extend the setup to have also an example for:

- Magento
- Shopware (Here's an [example](https://demo.storefrontcloud.io) of the shopware vue storefront)

Also would be great to have PWA support
Here's also an [example](https://shopware-pwa.storefrontcloud.io) by those same guys who made the Vue storefront how they implemented a pwa version for it too.

Love the whole next commerce project and I b

[2021-04-13 12:30] olegrob commented on #172
Looking forward for the new updates

[2021-04-13 13:17] loan-laux commented on #257
Thanks for the response @okbel! I'm afraid there might be some confusion here... I was referring to letting end-users (customers) log in with an OAuth flow.

Reaction Commerce does not have a GraphQL mutation or REST route that takes a username and a password. Instead, to authenticate users, the storefront would have to support OAuth, hence my initial writeup.

Now, thanks to your comment, I just

[2021-04-13 17:44] olegrob commented on #172
@mohammadou1 any ideas why cant i run this locally - https://github.com/mohammadou1/commerce/tree/feature/woocommerce ? I get error "Error: The environment variable BIGCOMMERCE_STOREFRONT_API_URL is missing and it's required to access your store"

and even thought  ".env.local" has only this attributes -

"GRAPHQL_STORE_URL=
WOOCOMMERCE_API_URL=
WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRE

[2021-04-13 21:06] kogan007 opened #273 "Customer Cookie"
Bigcommerce changed the cookie header in the response from doing login mutation. You get 2 cookies, you need to concat them. Until this is fixed, login won't work on the preview site

Also a separate question, have you guys come up with any way to login the customer on the bigcommerce frontend? A logged in customer on the nextjs frontend will not be logged in at checkout.

[2021-04-14 04:54] THPubs commented on #266
Awesome! Thanks @cond0r !

[2021-04-14 04:54] #266 closed

[2021-04-14 08:36] mariusa commented on #262
Hi, `master` still doesn't work. There are no recent changes at
https://github.com/vercel/commerce/tree/master/components/product/ProductCard
(latest change: last month)

The commit says 'This commit does not belong to any branch on this repository.'
https://github.com/vercel/commerce/pull/264/commits/1dce23c91a33dc36d4891622069d9abb02b9dddb

Can't figure out why the fix didn't make it to the repo

[2021-04-14 08:40] mariusa opened #276 "please activate Discussions for this repo"
Hi, I have a question and README doesn't say where to ask.

Would you please activate Discussions for this repo?

Q: I see images hardcode width/height in
https://github.com/vercel/commerce/blob/d838f34c73dc1fb6a44965750024d2cb934907be/components/product/ProductCard/ProductCard.tsx#L39
shouldn't these be in (S)CSS? And maybe responsive per device? Can't be the same on phone & monitor.

[2021-04-14 15:48] kimdichi opened #278 "Project fails to build"
I am trying to set up a local dev environment for customizing the base Shopify theme but I am running into errors which are not really helpful. I followed the the instructions to setup the environment referenced in Readme of project.

-  Forked the repository to my GitHub account and cloned to my laptop.
-  Created a new branch git checkout -b MY_BRANCH_NAME
-  Installed yarn: npm install -g yarn

[2021-04-15 05:45] cond0r commented on #278
@kimdichi it's a DNS Resolver problem, it cannot resolve Shopify's domain so it cannot communicate with it:

https://askubuntu.com/questions/1319815/having-dns-issue-with-ubuntu-20-04
https://askubuntu.com/questions/1040595/dns-at-systemds-127-0-0-53-is-ignoring-some-lookups
https://www.linuxbabe.com/ubuntu/set-up-local-dns-resolver-ubuntu-20-04-bind9.

[2021-04-15 08:58] FlushBG opened #279 "Quesiton about integrated providers"
Hello,
If I decide to use Shopify or BigCommerce as the backend provider, how flexible could this storefront be? If I remember correctly, Shopify doesn't let you have your own checkout page, but needs you to redirect to theirs.
And BigCommerce doesn't let you have a faceted search ( by size, color, etc... ).
Are these limitations still there and are these features available in Vercel Commerce?

[2021-04-15 11:45] kimdichi commented on #278
That is strange, I am using it on my local machine and I am able to query Shopify's API on my machine without any problem. If were a DNS problem, I wouldn't be able to do it.

[2021-04-15 12:01] cond0r commented on #278
@kimdichi yes it is strange, it has something to do with your machine. And this is what i got from the error above, and a quick search (where I found similar issues with the exact error for other things like MongoDB Atlas connection on Ubuntu 20.04).

You was able to query with a Node.js app running on localhost ?

Also what errors or logs appear in terminal window, after you typed 'yarn dev'.

[2021-04-15 12:11] kimdichi commented on #278
@cond0r

I am using a Insomnia to query Shopify's API.

I am connecting with a test account on Shopify so the credentials are not critical, in case it helps you see the problem. These are the credentials.

 X-Shopify-Storefront-Access-Token : b8806f6825e64c55efe4ebbbe075bc28
Storefront_url:      https://test-bench-1.myshopify.com/api/2021-01/graphql.json

[2021-04-15 12:16] cond0r commented on #278
@kimdichi if you put at NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN the url above that's the issue and that's why it could not be resolved

In .env.local put this:
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=test-bench-1.myshopify.com
NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN=b8806f6825e64c55efe4ebbbe075bc28

[2021-04-15 12:35] kimdichi commented on #278
@cond0r

Thanks! It is working.

I think it would be a good idea to document it. The documentation is practically non existent which can trip up people.

[2021-04-15 12:36] #278 closed

[2021-04-15 12:49] kimdichi commented on #279
I was wondering about that myself, with starters like this project. The role of backend is diminished to a CMS which is only required at build time (I am assuming this is how it is working since there I couldn't find any documentation).

How can they even enforce restriction of any customization on front end when they don't control it?

[2021-04-15 15:09] FlushBG commented on #279
They don't expose some endpoints publically. If I go and try create a storefront from scratch, I will probably not be able to use faceted search in BigCommerce. But in some cases of partnership, those endpoints are exposed and I am wondering if BigCommerce lets Vercel use the entire functionality

[2021-04-15 15:25] Popeyef5 commented on #172
It seems it's configured for Bigcommerce and not WooCommerce. I think that error appears when you import Bigcommerce's config.

[2021-04-15 15:30] okbel commented on #279
Hello @FlushBG !

We don't have support for Custom Checkout yet, but it's under development -- We have all the designs and components ready. We need to make the api for it flexible before standarizing it.
So, the idea is that you can add it yourself (components and everything) by forking the starter. You'll need to create a new provider `shopify_stripe`, for example to unlock more capabilities on

[2021-04-15 15:32] okbel commented on #276
Done! Thank you for suggesting it!

[2021-04-15 15:32] #276 closed

[2021-04-15 15:33] okbel commented on #261
Can you pull the latest we fixed this in #222 ! Keep us posted!

[2021-04-15 15:34] okbel commented on #259
Does this change performance in any way?

[2021-04-15 15:35] okbel commented on #258
Merged! Thank you!!

[2021-04-15 15:35] #258 closed

[2021-04-15 15:36] #259 closed

[2021-04-15 15:39] okbel commented on #254
Indeed!

**Provider** brings **data** -> Helpers **normalize** it -> **UI renders**.

If you want to support something specific for only **one provider** just use env vars in the frontend to show stuff on and off, make sure that you ignore certain files if not every provider should use them! Exactly like we do for **Wishlist** Bigcommerce Supports it, Shopify doesn't. We only build what's necesary

[2021-04-15 15:40] okbel commented on #254
I'll recomend you to check how we build Wishlist utilities and how we ignore them through the code to build for a specific provider and build more functionality.

[2021-04-15 15:45] okbel commented on #247
Hello @ahmadsyed! We have locked the version for BigCommerce here, but if those hooks are more up-to-date feel free to pull those into a new provider under /framework/`new-bigcommerce` and use those instead.

We haven't had the chance to test them out yet but we could definitely add them as a dependency, and remove the ones we have here. Let us know!

[2021-04-15 15:45] #247 closed

[2021-04-15 15:46] okbel commented on #253
Hello @nikushx ! Thank you for the kind words!

The integration for Vercel is pretty close to be done, we need an approval on Shopify's Marketplace because this is an official public app. So, this will land hopefully soon!

[2021-04-15 15:46] #253 closed

[2021-04-15 15:48] #233 closed

[2021-04-15 15:49] olegrob commented on #172
Weird because i tried even to add this conf into env.local: COMMERCE_PROVIDER=woocommerce , hoped that it will force to import right settings. Havent got any luck, still tries to import bigcommerce settings.

[2021-04-15 15:49] FlushBG commented on #279
Thnks @okbel !
Thanks for the reply! What about BigCommerce, do they allow a custom checkout and using the faceted search?

[2021-04-15 15:58] okbel commented on #279
Last time I check, they didn't support custom checkout! But, don't take my word for it: check the docs and each sites. They are usually super updated :)

[2021-04-15 15:58] #279 closed

[2021-04-15 16:21] m-w-d-d commented on #261
@okbel - Looks like that fixed it.

Many thanks!

[2021-04-15 16:21] #261 closed

[2021-04-15 18:54] ahmadsyed commented on #247
Hi @okbel , Thanks for the update, As a workaround, I have replaced the hooks folder from that repo. It would also be very helpful if it can be added as dependencies, as A few essential changes like  SSO,  session management in the checkout, these types of features have been added in the official repo.

[2021-04-15 18:55] adithyaakrishna commented on #257
Hey @okbel
If its okay, I would really love to work on the Integration for Vercel 👀
But I'm still a learner though, and this would be a great opportunity

[2021-04-16 06:24] Trimud commented on #164
Hi @okbel I hope you have received my message in Twitter?

[2021-04-16 20:12] nikushx commented on #253
@okbel Are you able to provide any insight as to what the App will do? As far as I can see, Next Commerce can pull from all the data it needs via Storefront API. What will the App allow us to do additionally? Trying to see how this all fits into using Next.js to host a Shopify frontend.

[2021-04-17 05:02] Crelloc opened #282 "ISSUE on production build / Master branch: remove last cart item"
For bigcommerce headless, the last cart item cannot be deleted unless the page is manually refreshed.

[2021-04-18 18:21] s1njar commented on #220
Many thanks to @michaelbromley for working on vendure provider for nextjs commerce.

Running PR in https://github.com/vercel/commerce/pull/223

[2021-04-18 18:21] #220 closed

[2021-04-18 23:15] mohammadou1 commented on #172
Yes the issue appears when u try to access pages that are not under /wocommerce folder, this is due to not removing big commerce from pages yet as it should migrate woocommerce instead,

[2021-04-19 12:31] loan-laux commented on #257
@okbel sorry to insist, I imagine you're quite busy, but do you have any thoughts on approaching this?

[2021-04-19 12:33] loan-laux commented on #257
@adithyaakrishna for Reaction specifically? As far as I know, there's no need for OAuth authentication at the merchant level.

[2021-04-19 18:53] FBosler opened #284 "Where does the shopify/shema.d.ts come from?"
Love the repo! I'd like to potentially use the "Shopify GraphQL admin API" instead of the Storefront API though, for this I'd have to create a new schema potentially. Could you elaborate where the current one comes from/how it is generated?

[2021-04-20 07:21] cond0r commented on #284
@FBosler schemas are created using [graphql-codegen](https://github.com/dotansimha/graphql-code-generator). created a #285 to add the command used to generate that.

[2021-04-20 14:45] kenobivan opened #286 "Shopify Customer Login"
Hello!

I successfully setup Next Commerce with Shopify locally by setting the correct provider details in an .env.local file.
For my project I'd like to use the customer login/register functionalities?

How can I activate this?
Is it part of the features in the commerce.config.json?
Is there any documentation about the features?

Many thanks!

[2021-04-20 14:55] kenobivan commented on #286
Sorry my fault...
I simply forgot to activate user accounts in Settings -> Checkout.
But maybe someone stumbles over the same issue

[2021-04-20 14:55] #286 closed

[2021-04-20 23:43] Crelloc opened #287 "In BigCommerce you can get the API tokens from the Store's control panel - you can refer to our documentation on authentication here: https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication"
In BigCommerce you can get the API tokens from the Store's control panel - you can refer to our documentation on authentication here: https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication
You will also need a graphql auth token: https://developer.bigcommerce.com/api-reference/store-management/tokens/api-token/createtoken

The easiest way to connect howev

[2021-04-21 00:28] Crelloc commented on #287
I can setup this project without vercel and use the graphql token revealed in bigcommerce's graphql playground. The issue is that the graphql token that's revealed in bigcommerce's playground always changes. So i need to generate a token for production. And when I create my own api token with a longer expiration date ([https://developer.bigcommerce.com/api-reference/store-management/tokens/api-tok

[2021-04-21 01:51] Crelloc commented on #287
SOLVED the issue: When I created the api token, I had to use channel "1" for channel id instead of the channel I created for my application:

POST: https://api.bigcommerce.com/stores/j6qkr5mkdw/v3/storefront/api-token

request body:

{
  "channel_id": 1,
  "expires_at": 1935039600,
  "allowed_cors_origins": [
    ....
  ]
}

[2021-04-21 01:51] #287 closed

[2021-04-21 12:11] mariusa commented on #262
@okbel Would you please see the comment above? Commit didn't make it.

[2021-04-21 14:10] zachary-horvath commented on #282
I am having this problem, also.

[2021-04-21 14:11] zachary-horvath commented on #273
I am also having these issues! Very frustrating.

[2021-04-21 21:17] Jbmanllr commented on #208
Hey, any news about a Strapi connector?

[2021-04-21 22:18] Jbmanllr opened #288 "Product picture slider, lazy load 2nd slide"
Hello,
On the product page, the product slider (keen) lazy load the next hidden slide, how can i make it only load the first slide? It doesn't matter if i have a loader at transition.

[2021-04-22 14:36] kogan007 commented on #273
Before when the cookie came from bigcommerce it came as a string, now it is an array, I think one called shop_token and the other one is called shopper-pref, so you just have to set those as cookies on your frontend, and then you can send it as a header with graphql query to get the current customer

[2021-04-22 16:47] itsjzt commented on #243
you can also use `currentlyNotInStock` https://shopify.dev/docs/storefront-api/reference/products/productvariant#fields-2021-04

[2021-04-22 16:48] itsjzt commented on #243
`currentlyNotInStock` handles continue selling if item is sold out out so you don't have to

[2021-04-24 01:12] achadee opened #289 "Metafields not returning on GraphQL fetcher"
Hey team, i've modified the `getProductBySlug` to include meta fields and exposed them using shopify's `metafieldStorefrontVisibilityCreate` endpoint. But the attribute doesn't return when querying through the Api fetcher.

When I run the exact same query through insomnia I get the expected fields

Query:
[code]

response from insomnia (correct response)

[code]

response from vercel commerce fetc

[2021-04-24 01:13] achadee commented on #289
Also Should mention, this is on my dev environment run on my laptop.

[2021-04-24 07:52] achadee commented on #289
Update: doing this works, and is more efficient for what I need

[code]

[2021-04-24 09:23] achadee commented on #289
Ok Metafields are now showing, it must just take some time to propagate the storefront API

[2021-04-24 09:24] #289 closed

[2021-04-25 11:49] loan-laux commented on #257
It turns out that someone at Reaction has published a WIP implementation of authentication over GraphQL. This means we won't need OAuth support for Reaction Commerce. I'm still leaving this issue open though, as it only a matter of time before someone wants to build a provider for a commerce API that requires OAuth.

[2021-04-25 12:14] adithyaakrishna commented on #257
Okay 👀

Also Yeah, I had thought that, but Ig it's not needed anymore for Reaction :(
Would love to work on some starter issues at first and then move to tougher ones 👨‍🔧
@loan-laux If it's okay, do lmk some I would try to work on them

[2021-04-25 12:43] loan-laux commented on #257
If you mean to get involved in the development of Reaction, then I would suggest looking at issues on their GitHub repos and chatting with the community on our Gitter channel.

Pretty sure it's off-topic on this issue though, so let's keep it clean and focused on OAuth support for customers.

[2021-04-26 14:34] loan-laux opened #291 "How to approach pricing at the deepest option level?"
While building a provider for Reaction Commerce, I stumbled onto an issue that I think many other developers will have with other APIs.

The structure for product variants is as follows:

[code]

With this structure, the sub-variants (or the sub-sub-variants, or whichever deepest level) is the one that bears a price. There is no price at the variant level (unless it's the deepest), nor at the main

[2021-04-26 15:12] DanielHirunrusme opened #292 "[next/image] (1) Saving image original filename (2) Shopify CDN configuration (3) Custom loader solution"
**( 1 ) Saving image original filename issue**
On demo store, all products images save as _image.png_. I tried searching next/image docs but was unable to find a solution here. Basically, I believe images should be able to save as original filename for archival and shareable purposes. You can see I made a workaround with a next/image custom loader on my store [here](https://shop.spikeartmagazine.c

[2021-04-28 09:42] muhammad-saleh opened #295 "Static export, /checkout gives 404"
Hi!
I'm trying to statically export this project using `next export`, I'm currently using Shopify as a provider
Currently the biggest issue that I have is that checkout doesn't work, The `Proceed to checkout` CTA points to `/checkout` which doesn't work and gives 404. Any help with this? (it works with yarn dev and yarn start)

I have set the provider to Shopify in commerce.config.json
[code]
Is t

[2021-04-28 10:42] Trimud commented on #164
Hi @okbel do you have any updates?

[2021-04-28 11:37] cond0r commented on #295
@muhammad-saleh  open CartSidebarView.tsx  add: `import Cookies from 'js-cookie'` change current checkout buton to:
`<Button  href={Cookies.get('shopify_checkoutUrl')}  Component="a" width="100%"> Proceed to Checkout</Button>`

[2021-04-28 11:42] muhammad-saleh commented on #295
@cond0r Works perfectly! Thank you.

[2021-04-28 11:42] #295 closed

[2021-04-28 20:22] Crelloc opened #296 "Content Security Policy Failure: The page’s settings blocked the loading of a resource at inline (“script-src”)."
There's a script tag that's dynamically embedded in <head> that causes my CSP to fail. I need to figure out how to add a nonce value to this tag.

Can anybody find where the following script tag is generated in the code?:

<script>!function(){try {var e=localStorage.getItem('theme');if(!e)return localStorage.setItem('theme','light'), void document.documentElement.setAttribute('data-theme', 'light'

[2021-04-29 05:45] hinsxd opened #297 "Severe type mismatch in getProduct"
In https://github.com/vercel/commerce/blob/5870e9af8c24fd9d32c1d76d150ea93da7671497/framework/bigcommerce/product/get-product.ts#L75-L97, getProduct is overloaded twice with return type `Promise<GetProductResult<T>>` or `Promise<GetProductResult>`, but the actual function has return type `Promise<Product | {} | any>` which basically makes type checking useless.

Furthermore, `Product` inside `Prom

[2021-04-29 14:49] Popeyef5 commented on #172
@mohammadou1 I'm hesitant to contribute to the repo because the folder structure is so different from the other providers in vercel's repo. Is that part of the refactor you were talking about? Do you have an ETA for the roadmap?

[2021-04-29 20:10] ChrisCraig68 opened #298 "Big Commerce product customizations with no values causes TypeError: Cannot read property 'edges' of undefined"
Adding the Text Field or Checkbox custom modifier options to a product causes `TypeError: Cannot read property 'edges' of undefined`.

`normalizeProductOption` always expects an array of values and assumes the option is multiple-choice (swatch, radio, dropdown etc).

<img width="1074" alt="Screenshot 2021-04-29 at 21 08 34" src="https://user-images.githubusercontent.com/21010009/116612271-44565e00

[2021-04-30 12:42] magicspon opened #299 "Bigcommerce: Login has stopped working"
Login has suddenly stopped working.

### Steps to reproduce

1. Go to http://demo.vercel.store/... create an account.
2. Open the network tab
3. Login
3. Modal disappears, as if log has been success.
4. Look at the customer api call. Note the response is { data: null }

If you try logging in with the incorrect details, you get an error message, as expected.

I'm not sure where the issue has come f

[2021-04-30 13:59] lewis52ravens commented on #202
I would also add: setup instructions that do NOT require the use of Vercel.

[2021-05-02 05:40] prophet1996 commented on #208
i have picked it up. can expect a PR in a few weeks

[2021-05-02 07:46] mohux commented on #172
Am really in a bad situation here, since woocommerce has really different structure than other providers,
no cart, no multilanguage, graphql different approach,

waiting for few changes to come from official next/commerce before I can do anything,

this file structure was the old file structure followed by the providers,
since they updated, woocommerce has been stuck

[2021-05-02 07:48] mohammadou1 commented on #172
Am really in a bad situation here, since woocommerce has really different structure than other providers, no cart, no multilanguage, graphql different approach, waiting for few changes to come from official next/commerce before I can do anything, this file structure was the old file structure followed by the providers, since they updated, woocommerce has been stuck, which needs to almost restart t

[2021-05-02 20:37] #298 closed

[2021-05-03 03:34] muhammad-saleh commented on #284
@cond0r will #285 cover generating definitions as well? or will that be in separate PR?

[2021-05-04 01:45] danielbixel opened #301 "Not able to add products to cart"
Hello world.
super psyched about this repo. But unfortunately I ran into some issues I couldn't figure out the entire day.

Neither on a on vercel hosted project with a bigcommerce connection, neither on local host connected to shopify I am able to add products to the basket.

On local host with shopify as a provider I am getting
My headers go through with 200 and a nice looking query as a payload

[2021-05-04 16:44] danielbixel commented on #301
By now I got it working on the deployed version. I commented out the .env.local file in the gitignore.
But when I am running the same app on my localhost i am still not able to add products to the basket and get this return in the response header:

{data: {node: null}}
data: {node: null}
node: null

Thanks for your help!

[2021-05-05 14:02] MecBonjourno opened #302 "Not able to develop locally"
I'm currently trying to make some minor changes in the code but every time i try to `yarn run` the console return me this error:

Note: i've haven't made any changes in the code lately and the code was working last week

I've already tried to `yarn upgrade` , `yarn cache clear`  and `yarn build` . Nothing changed and the build didn't passed through due to the same error

`
FetcherError: Authentica

[2021-05-05 14:07] lewis52ravens opened #303 "[BUG] - BigCommerce provider doesn't support products with more than 10 variants"
I can't speak to whether this issue exists with Shopify, but I know that when using BigCommerce as a provider the following issue exists on products that have more than 10 variants.

**Issue:**
The different option Swatches will still appear on the product page, but only the first 10 variants will work. Meaning that if you select options corresponding to variant 12 and then click "Add to cart", th

[2021-05-05 23:17] danielbixel commented on #301
wow .. turned out it just didnt work in chrome, but also only when running localhost. The deployed app was working great.
Safari worked great local and deployed.

[2021-05-06 04:38] clockelliptic commented on #299
They have never worked for me. I'm actually just circling back to this because I thought maybe I could make some headway here, but I'm stumped.

[2021-05-06 04:43] clockelliptic commented on #273
I believe this may be a duplicate: https://github.com/vercel/commerce/issues/299

[2021-05-06 04:43] clockelliptic commented on #299
I believe this may be a duplicate of https://github.com/vercel/commerce/issues/273

[2021-05-06 05:00] clockelliptic commented on #273
the new token uses the key `Shopper-Pref`, but now `SHOP_TOKEN` is missing from cookies.... basically, this breaks wishlist and login functionality.

[2021-05-06 06:20] kogan007 commented on #273
https://gist.github.com/jorgemasta/c709b63501344970026f3a3e7646cc77

try using this instead of the graphql cookie, it returns 3 cookies

[2021-05-06 14:06] sixers commented on #172
@mohammadou1 Which exact changes are you waiting for? Is it [this issue](https://github.com/vercel/commerce/issues/224)?

[2021-05-06 22:25] #254 closed

[2021-05-07 00:59] clockelliptic commented on #273
Thanks so much, very helpful. I'm still having a bit of trouble... the API still isn't returning a `SHOP_TOKEN`..... though there is a `SHOP_SESSION_TOKEN`

Do you happen to know if/where any of this is documented?

[2021-05-07 02:38] clockelliptic commented on #273
I just solved the problem for myself.

I changed the `async function login(){...}` definition in the file `framework/bigcommerce/auth/login.ts (lines 32-71)` to the following:

[code]

[2021-05-07 02:38] clockelliptic commented on #299
I just solved the problem for myself.

I changed the `async function login(){...}` definition in the file `framework/bigcommerce/auth/login.ts (lines 32-71)` to the following:

[code]

[2021-05-07 09:12] magicspon commented on #299
@clockelliptic
Take a look at the fix here: https://github.com/bigcommerce/storefront-data-hooks/pull/62
you'll want to "Set the cookie at TLD to make it accessible on subdomains"
You'll need this otherwise when a user goes to the checkout they will be logged out.

[2021-05-07 13:12] zachary-horvath commented on #273
This did it for me. Using the getCookie function from @kogan007 I got this to work. Thank you all!

[2021-05-08 02:31] achadee opened #308 "Module not found: Can't resolve 'dns'"
When I try to retrieve a product via the client I get 'Module not found: Can't resolve 'dns''

Whats the correct way to do this? `getProduct` works for SSR

[code]

Thanks in advance :)

[2021-05-08 07:11] cond0r commented on #308
@achadee yes the getProduct is used for SSR. The fastest way is to use the framework/{provider}/fetcher and pass the variables

Example for Shopify

[code]

[2021-05-08 12:41] mohammadou1 commented on #172
Yes it's, the current structure doesn't support woocommerce, especially that the plan to support woocommerce is using GQL plugin built by the community

could finish the previous version (current one in github) but its no way near the updated next/commerce version and not unified at all

[2021-05-08 12:46] mohammadou1 commented on #172
Updated the readme, my apologize because its too late and nothing happened yet, but the main goal of the providers I think is to have a unified solution for everyone regardless of the differences or weakness of specific ones

[2021-05-12 22:27] aaronmarkle opened #309 "Deployment to Vercel using Shopify framework not working"
Hello, I have the nextjs commerce with Shopify framework working locally, but when I deploy to Vercel, I get a 404 on the index page (and any other page I try).

The app works when I run it locally for development.

The deployment in Vercel seems to be working, no errors, it says it generated ~500 pages. But all urls seems to return a 404 error. Any advice on where to start looking to see what is

[2021-05-13 17:12] hayanisaid commented on #309
I have the same issue!

[2021-05-13 17:31] hayanisaid commented on #309
## My solution:
This worked for me, in your Vercel Dashboard select Nexjs as target in the "Framework Preset" field  instead of allowing to be detected automatically!
<img width="751" alt="Screen Shot 2021-05-13 at 10 27 54 AM" src="https://user-images.githubusercontent.com/24610720/118162684-08bb9980-b3ef-11eb-9a74-f91e03325cf1.png">

[2021-05-13 17:45] aaronmarkle commented on #309
Thanks @hayanisaid that worked for me as well. Cheers!

[2021-05-13 17:45] #309 closed

[2021-05-16 12:46] tianyingchun commented on #308
@cond0r  if we use `getProduct` in getStaticProps() it will also throw this error

[code]
[code]

package.json
[code]

[2021-05-17 00:21] achadee commented on #308
@tianyingchun

this works for me ( i wrote my own get product)

[code]

get-product.ts

[code]

my shopify get product query - you'll need to change your to match the data you want to display

[code]

[2021-05-17 06:57] Rzzvaan-Muhammad opened #311 "An unexpected internal error occurred"
![image](https://user-images.githubusercontent.com/70486078/118444651-dcfa2580-b706-11eb-80c6-45be401db5fd.png)

Please guide me, what I am doing wrong here.
while Vercel Signup, I got this error.

[2021-05-18 00:17] achadee opened #312 "Best strategy for implementing Checkout Notes / Custom Attributes"
Hey team,

I noticed you don't have hooks available for notes / custom attributes. Is this the best way to go about it? I've never written a hook from scratch before - but it can't be too hard, right?

Thanks in advance - ill keep posting here with updates to potentially help others facing the same issue

[2021-05-18 15:53] danielbixel opened #314 "Shopify translation not working"
In order to get the Shopify product translations, we have to add the Accept-Language Header to the API request.
I did this in the fetch-graphql-api.ts file.

`const res = await fetch(API_URL, {
    ...fetchOptions,
    method: 'POST',
    headers: {
      'Accept-Language': 'en-US',
      'X-Shopify-Storefront-Access-Token': API_TOKEN!,
      ...fetchOptions?.headers,
      'Content-Type': 'applic

[2021-05-18 15:59] cond0r commented on #314
@danielbixel https://help.shopify.com/en/manual/cross-border/multilingual-online-store
Shopify doesn't have this feature out of the box, so translations are not yet implemented into Shopify Provider. But It will be considered in future, following the URL above

[2021-05-18 16:59] cond0r commented on #314
@danielbixel yes, the header accept language needs to be sent the at build time for each language supported (like at pages), and also on search page. I will take a look.

[2021-05-19 10:34] cond0r commented on #314
@danielbixel what app do you use for translations ? I tried with one, hardcoded header and it didn't sent be back the translated result.

[2021-05-19 11:45] danielbixel commented on #314
@cond0r
The App I used to translate my content manually is called "Translate My Store"
 .. And while writing this I see your response. ;)

This is working perfectly fine.

Thanks a lot

[2021-05-20 00:44] rickyPanzer commented on #301
same with shopify ^^, why do we think that is?

Does this app have PWA features built in? I've had trouble with PWAs caching things in the past

[2021-05-20 11:58] d0hn opened #315 "Adding Shopify pages results in undefined URL and 404"
Hello Community,

I've hit a brick wall. After adding one page to Shopify (through the Online Store->Pages interface), I've noticed that the links fed back to the template are coming as `undefined/about-us` which results in `404 not found | This page could not be found.` when viewing the page.

I thought that this might have been localised to my dev machine, so upon trying to deploy to Vercel I go

[2021-05-21 01:34] ozan-altinbas-emakina commented on #228
It looks Vercel team is not responsive. Let's search for alternatives.

[2021-05-21 10:52] senadir commented on #172
Hey, all you aware of [WooCommerce Store API](https://github.com/woocommerce/woocommerce-gutenberg-products-block/tree/trunk/src/StoreApi), an API that is meant to build headless WooCommerce stores

[2021-05-21 12:22] d0hn commented on #315
I was able to fix it. For some reason, the config doesn't return any locale.
For now, I've modified the `get-all-pages.ts` where the `${locale}` was replaced with my shop locale.

[2021-05-21 12:22] #315 closed

[2021-05-24 16:02] #21 closed

[2021-05-24 16:04] okbel opened #317 "Issues picking variants in the ProductView."
Description: Sometimes picking a color is not available in some size and still I'm allowed to add that product.

[2021-05-24 16:05] #241 closed

[2021-05-26 23:31] lfades opened #330 "next/link should be used with anchor as children"
There are some places where `<Link>` is used without `<a>` as the children, this is bad for accessibility because links should be links. An example of this is the cart item, where the image and text go to the product page but without using an anchor, and right now the sidebar closes as soon as you click, instead of waiting for the navigation.

[2021-05-27 02:24] ezatla opened #331 "Wishlist is not working with shopify"
Hey fellows, I've run the project locally and I used Shopify as CMS,
The store runs fine, I get the products and everything else from Shopify, but
The **Wishlist** button doesn't seem to be working, it doesn't trigger anything and Wishlist page shows no items.

I have Wishlist config enabled in my _commerce.config.json_

[2021-05-27 02:41] sveggiani commented on #165
I think we have a good opportunity to contribute to this while we build the foundations of the technological platform for https://litt.com.ar/.

I'm currently working on those definitions during these days and I would like to know if you have some things in mind to this regard @okbel . Thanks!

[2021-05-27 07:20] cond0r commented on #331
@ezatla Shopify provider doesn't have the Wishlist feature, please disable it from commerce.config.json

[2021-05-27 14:23] Zwergal commented on #220
Would love to see vendure officially supported by nextjs commerce!

[2021-05-27 15:43] #331 closed

[2021-05-27 15:45] lfades opened #332 "Add loading state for /wishlist"
Right now the wishlist page shows "Your wishlist is empty" before showing your wishlist items, that should be a loading state instead.

[2021-05-27 17:00] agustif commented on #220
Can't wait to see this through

[2021-05-28 10:50] kursademirtas commented on #332
Hello, anyone works on it?

[2021-05-28 15:13] FBosler commented on #203
@whatisaghostwriter Seems like this is only working for BigCommerce right now though. For me it bugs out when trying to use it with Shopify (even after adjusting the paths accordingly).

[code]

[2021-05-29 17:58] brightonmike commented on #167
@lorenzorivosecchi I'd be interested in picking this up. Let me know if you'd be happy with this.

[2021-05-29 20:43] Vandivier opened #341 "@framework should point to framework dir"
1. it's a little confusing / magical how `@framework/api/catalog/products` points to bigCommerce and similar
2. we then look in tsconfig and realize A. I can only use one provider at a time and B. if I want to introduce an API outside of the commercial API I can't use `@framework` to refer to the framework dir, so it creates multiple patterns to represent the same thing and it's confusing

so I'm

[2021-05-29 22:00] ethanny2 opened #342 "Error with peer dependencies/ Typing error on API"
Im trying to get this template up and running with a headless Shopify implementation (already set up my .env.local); cloning the project and attempting to install with
`npm install`

I get errors that some of the packages have not been updated to use Nextjs-10 etc...

I tried using
`npm install --force`
and
`npm install --legacy-peer-deps `

but the same error still occurs at
`./framework/bigcomme

[2021-05-30 10:12] lorenzorivosecchi commented on #167
Sure, what i have to do?

[2021-05-30 17:16] FBosler commented on #203
@cond0r sorry to tag you out of the blue, but I recall you providing valuable input on another open issue and was wondering if you have a minute to help me better understand whats happening here, or what I would have to change to get this working.

I did change the `codegen.json` in accordance with your [PR](https://github.com/vercel/commerce/pull/285/files).

I am asking because Shopify recently

[2021-05-31 05:39] cond0r commented on #203
@FBosler if you see on that PR, i had to change the queries too, so you have to apply that too, otherwise the command will throw you an error.

But are you sure you can use that in Storefront API ? I took a look, and doesn't seem to be available. I see they created a Subscription API for creating apps, but that is separated / different thing.

[2021-05-31 11:45] achadee opened #344 "Scroll doesnt work on Cart Side View (iOS) when multiple items are added to the cart"
https://user-images.githubusercontent.com/5952918/120188328-53e00400-c259-11eb-8c30-6f79d8297098.mov

Tested on the vercel demo store as well. I'll try and figure out the css prop tomorrow

[2021-05-31 13:10] loan-laux commented on #341
@Vandivier I'm curious to know how many people would need more than one provider at a time... At least, I wouldn't have thought of that use case.

Also, the main reason for `@framework` being an alias to the provider set in `tsconfig` is for users to be able to switch easily between one provider and the other. If we made `@framework` point to `/framework/`, then switching providers would be a tedi

[2021-05-31 13:13] loan-laux commented on #291
Turns out I was just misunderstanding how this whole `MultipleChoiceOption` worked. Maybe it should be better documented, but at least we got it to work on our provider, so I'm closing this.

[2021-05-31 13:13] #291 closed

[2021-05-31 14:54] Vandivier commented on #341
I know it's tedious, but I've volunteered to do the work if given the green light.

Here's a link to my repo where I've introduced a secondary API outside of commerce. From my original comment that would be use case 2.B - I have no info on how empirically common 2.A is https://github.com/Vandivier/futurecaster/tree/main/framework

[2021-05-31 15:04] Vandivier commented on #302
1. is your repo open? if i could clone ur code I could try to reproduce the error
2. have you tried running w `vercel dev` instead of the yarn way?
3. can you log into bigcommerce outside of your app? make sure the vercel link to bigcommerce is able to do the same (no outdated password in the vercel integration, etc.) you may need to pass reset on bigcommerce if u can't get in

[2021-05-31 15:09] loan-laux commented on #341
I was referring to the amount of work people would need to do after having cloned the repo to simply use the provider of their choice.

But I'm not a maintainer of the project so I can't speak on whether or not this would be considered. I'd tag @ifades or @okbel here to provide more insight.

[2021-05-31 15:23] leoortizz commented on #341
I think it would work a little better if there's a way we can clone this repo with only the provider files we need, kinda like the `create-next-app --example` works, with a option like `--provider [name]`. Otherwise, we always need to remove what we don't need.

[2021-05-31 15:25] FBosler commented on #203
@cond0r seems like you are right. It does not appear that the Storefront API supports subscriptions yet (I am still going to check, might be undocumented).

However, the [AJAX-Api](https://shopify.dev/docs/themes/ajax-api/reference/cart#add-a-selling-plan).

Could you explain the logic behind changing the queries? I.e. which conditions do they have to meet for the codegen to not throw an errorr.

[2021-05-31 15:46] Vandivier commented on #224
@lfades I support this but let's also think one step higher in abstraction: There are some API that go beyond providers and would be used for any back end. For example, `isAllowedMethod`.

ref: https://github.com/vercel/next.js/discussions/25599

As a side note, I find the higher-order hook implementation like `swell/.../use-signup.tsx` to be really hard to reason about. Just a note that 'unify th

[2021-05-31 15:54] Vandivier opened #345 "remove extraneous code related to ProductCard `variant="slim"`"
1. `variant="slim"` provides a default height and width but we always override it w imgProps

So can we just remove the imgProps in those cases?
related discussion: https://github.com/vercel/commerce/discussions/281

[2021-05-31 15:58] Vandivier opened #346 "add tests"
Can I add some tests? I would assume a small UI component testing scope with Jest to start with.

Per this issue: https://github.com/vercel/commerce/issues/345, I want to remove some extraneous code, but I would feel better if there were some tests I could pass when PR'ing

[2021-05-31 18:06] leoortizz opened #347 "Next.js Commerce boilerplates for each provider"
Everyone might need a way to start a new Next.js Commerce app with a single provider, without all the references to providers that won't be used, and also without the demo layout. Is there any solution for this on the roadmaps?

Here are some ideas as I'm not sure on how would be the best way to handle it:

- integrate it to `create-next-app` or to a new CLI like `create-next-commerce`  with a opt

[2021-06-01 01:17] achadee commented on #344
Here is my solution for anyone facing the same problem (warning its not too elegant)

I render a different sidebar for mobile that has a different scroll setting and layout (ignores the backdrop etc)

[code]

[code]

[2021-06-01 01:18] #344 closed

[2021-06-01 02:31] #345 closed

[2021-06-01 08:18] #224 closed

[2021-06-01 08:21] lfades opened #349 "Move the swell and venture providers to the new API"
After merging https://github.com/vercel/commerce/pull/252 the current Swell and Venture providers got outdated, we'll need to make sure they match our current providers or they won't work anymore.

[2021-06-01 08:26] lfades commented on #160
Closing because we have Swell now

[2021-06-01 08:26] #160 closed

[2021-06-01 12:24] Blaze349 commented on #214
Is there any update on this?

[2021-06-01 18:58] muhammad-saleh commented on #347
it will be great also if we can remove other unused providers without breaking anything
I'm using Shopify and I tried to remove the bigcommerce provider the build broke

[2021-06-01 19:04] leoortizz commented on #347
It seems to be in progress, see #252

[2021-06-02 09:13] cond0r commented on #203
@FBosler if you clone master now, you can run `yarn generate:shopify` and it will generate definitions & schema

[2021-06-02 22:21] lawrencecph opened #353 "Themes?"
In the README u say there is themeing available, how do i do this?

Should i create a folder /themes/example and then i can just put components in there and they will magically replace current ones? Or how does it work?

Thank you!

[2021-06-03 00:42] lfades commented on #224
@Vandivier `isAllowedMethod` was moved to be inside `commerce` so that's already the case, on the note about compositional approach that's a requirement because providers don't match each other's features, each provider adds what they can do

[2021-06-03 02:43] lfades commented on #341
One of the core ideas of this repo, and the framework we have for commerce, is that providers work in the same way, the usage of a provider should be 100% compatible with the others. That way the same codebase is compatible with every provider, but this is also not the full story.

All imports actually go to the core commerce provider, not to each provider, what each provider does is exporting the

[2021-06-03 02:43] #341 closed

[2021-06-03 04:12] Popeyef5 commented on #172
Seems promising, I'll give it a go when I'm more free. In case this does not work out (seems experimental still, idk how permanent resources need to be for a PR to be considered), what's the policy on packages @okbel? I think I saw shopify-buy in the dependencies but not used anywhere thoughout the project. Would we be allowed to use, for instance, something like this https://github.com/woocommerc

[2021-06-03 13:36] givionte commented on #353
It's Nextjs, so you can theme however you want. The project demo is using Tailwinds with CSS Modules to structure their code.  You can drop Tailwinds and use regular CSS modules, or drop-in your preferred CSS framework.  Take a look through the components folder to see how their css is being applied to individual components.

[2021-06-03 19:16] lawrencecph commented on #353
But how would i replace code in the components? Should i make a file in my own /theme folder, how do i make that file overwrite the one in the components folder?

Ty!

[2021-06-03 19:45] ethanny2 commented on #342
Seemed to work when I used Yarn instead of NPM, will close.

[2021-06-03 19:45] #342 closed

[2021-06-04 04:59] wtLau commented on #24
Hi

I think sign up is not working again even on the live demo site [https://demo.vercel.store](https://demo.vercel.store)

On the live demo site, I am receiving 500 status code with `message: "An unexpected error occurred"` when signing up with a new account.

![image](https://user-images.githubusercontent.com/26396307/120747975-d87b8e00-c4b6-11eb-895b-b244ba34da84.png)

On my local site, I am us

[2021-06-04 05:03] cond0r commented on #24
@wtLau like error says, customer accounds are disabled. Enable it on Shopify.

https://help.shopify.com/en/manual/customers/customer-accounts

[2021-06-04 05:29] wtLau commented on #24
@cond0r Thx! Never used Shopify before.... thought its a client error

[2021-06-04 17:35] givionte commented on #353
You'll have to go through and wipe all the current CSS files and modify the Tailwinds config file if you want to do your own theming.  This project was created to get a Nextjs store up and running in minutes, but leaves the CSS theming totally up to the developer's imagination.  If you want to make it easy to drop in or change themes, Tailwinds most certainly gives you the power to do so.

 As was

[2021-06-04 19:19] lawrencecph commented on #353
Sorry for keep this thread open, last message:
I know how to change the themes, but how do i change the code inside some of the component without replacing it directly in the components?
If you know what i mean? Can i overwrite the component jsx files from another folder, so updates to vercel commerce don't break my newly implemented updates?

[2021-06-05 20:42] muhammad-saleh commented on #353
@lawrencecph If I understand you correctly then AFAICT this repository is meant to be forked and then later customized to your needs, It's not a versioned package that you can upgrade when there's a new release, If you want to include future fixes/features from this repo into yours then you will have to do that manually.
Unless of course the team here have a different opinion or different plans.

[2021-06-09 03:42] Blaze349 commented on #217
so how did you fix it

[2021-06-09 04:03] Blaze349 opened #358 "Issue: Fails when adding digitial product (BigCommerce) to cart"
`react_devtools_backend.js:2560 Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?

Check the render method of `Link`.`

Hello, I don't know why this error shows up when you try to add a digital product (BigCommerce) to the cart. Additionally, the categories do not divide the products. Every product shows in every categ

[2021-06-09 14:49] OuthBack commented on #217
I didn't fix. I just reported

[2021-06-11 12:12] Blaze349 commented on #228
Do you know any other alternatives?

[2021-06-12 23:52] johnbwu opened #361 "Checkout URL is <storename>.mybigcommerce.com"
Is there anyway to have it show our Vercel url instead? for example <mydomain>.com/checkout

[2021-06-13 21:14] johnbwu commented on #159
@eclipse3161  did you ever get your multi-currency working?

[2021-06-13 21:15] eclipse3161 commented on #159
Yes  ---- On Sun, 13 Jun 2021 14:14:38 -0700  ***@***.***  wrote ----
@eclipse3161  did you ever get your multi-currency working?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-13 21:18] johnbwu commented on #159
How did you get the cart to work? With bigcommerce my cart always returns in the default currency

[2021-06-15 01:04] ryanford opened #365 "Adding products with product options causes error"
[code]

Fix I used: #364

[2021-06-15 05:55] lfades opened #367 "Automate the API routes created by commerce"
Right now every single endpoint under `pages/api` has the same code but points to a different file, we should be able to remove those files from the repo and create them automatically if the provider requires them and remove them if not.

We would wanna move them to a `/api/commerce` folder first to make sure we don't mix with other API routes.

Note that we could also do something like `pages/api

[2021-06-15 05:56] lfades opened #368 "Reduce the types required to add an API operation"
I feel that the current amount of types an API operation requires is a bit annoying, but haven't managed to reduce it!

[2021-06-16 22:39] srahman99 commented on #206
Hi @avisra, I am trying also facing the same issue on the Vercel demo. Could you please provide code snippet on your implementation.

Also since you stated that you are using checkout.mywebsite.com instead of the Bigcommerce store checkout url, does this mean you are using embedded checkout?

Thanks

[2021-06-16 22:51] srahman99 commented on #273
@clockelliptic I have updated my code to cater for the multiple cookies as per your code above. However, when I'm redirected to the Bigcommerce checkout url, the customer is not logged in.

Any additional steps I need to take to make this work? Is your implementation based on using redirecting to Bigcommerce store checkout url as well?

[2021-06-17 13:13] kogan007 commented on #273
https://github.com/bigcommerce/storefront-data-hooks

For starters the checkout needs to be on a subdomain of your headless implementation

[2021-06-17 15:25] 1jmj opened #376 "Filters to narrow product search"
like all good e-commerce sites, some kind of filter to allow products to be narrowed, e.g. size, color, brand, gender

[2021-06-17 15:26] 1jmj opened #377 "Add to wishlist not yet implemented in Shopify framework."

[2021-06-17 15:44] 1jmj opened #378 "Search: Autocomplete"
It would be good UX to have an Autocomplete function so when a user types in the search bar, results of matching products appear as they type.

[2021-06-18 04:55] nikhil104iic opened #380 "Getting this error while trying to run nextjs in my local with bigcommerce"
<img width="808" alt="Screen Shot 2021-06-18 at 10 17 14 AM" src="https://user-images.githubusercontent.com/38064079/122507757-69597a00-d01e-11eb-8b58-c4a7ebdb1c09.png">

Getting this while running build locally. I am using Bigcommerce as my provider but error is coming out to be in Saleor provider i.e.  ./framework/saleor/api/utils/fetch-graphql-api.ts

Can anyone help me in this please.

[2021-06-18 12:05] fncmedia commented on #164
@okbel ,  @cellmanguney  Is there already a timeline that you have in mind?

[2021-06-18 13:11] okbel commented on #164
We're actively working on this but if there's any available contributor who wants to help ping me. @okbel.

[2021-06-18 13:24] Trimud commented on #164
Hi @okbel

I believe I have pinged you several times already but I didn't get anything back from you :)

[2021-06-18 13:25] okbel commented on #164
@trimud ;) check your twitter messages

[2021-06-18 18:55] leahtard commented on #377
This is likely because Shopify, as a platform, does not support wishlists. When building a store with a standard Shopify theme, this functionality can be achieved with one of several apps available in the Shopify marketplace. The commerce package currently depends on the platforms to provide the APIs for this functionality. Perhaps a complimentary framework provider could be developed in the futur

[2021-06-18 19:59] leahtard opened #382 "Enhancements to page content styles needed"
* Page title not included in render
* Page content comes from a field powered by a wysiwyg editor. I think styles should be in place for base typegraphy elements like h1-h6, p, ul, ol and a tags.

![content-page--before](https://user-images.githubusercontent.com/3838655/122610724-f7d8f600-d034-11eb-93b1-38bc42a1065f.png)

[2021-06-22 20:16] okbel opened #386 "BigCommerce Provider does not show Variants properly when adding to cart"

[2021-06-22 20:17] okbel opened #387 "Swell Provider: Needs to show their variants separately."

[2021-06-23 02:27] achadee opened #388 "GetStaticProps Not working as expected on vercel Returning -1 HTTP error"
Hi team, Id thought id submit an issue here as the customer success engineers didnt really answer or resolve my issue via support.

So I have a very large number of products, so I can't use getSataticPaths as the build time exceeds 45 minutes (with shopify API rate limit throttling) (plus who wants to wait that long anyway)

[slug].js
[code]

Now this works perfectly on my local machine that build